#patient-personal-information-container {
  .mt-7 {
    margin-top: 7px;
  }

  .mt-13 {
    margin-top: 13px;
  }

  .patient-information-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
  }

  .action-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 12px 0px;

    .mr-48 {
      margin-right: 48px;
    }
  }
}

.search-patients-wrapper {
  display: flex;
  margin-right: 50px;
  justify-content: flex-end;

  .search-mat-form-field {
    min-width: 350px;
  }
}
