<section class="relative">
  <section class="form-bg">
    <section fxLayout="row" fxLayoutAlign="center start" class="pt-2">
      <section fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
        <mat-card class="login-session">
          <section class="text-center">
            <h2 class="base-border mat-text-warn mb-1">Forgot Email?</h2>
            <i class="fa fa-lock fa-4x"></i>
            <p>You can reset your email here.</p>
            <form #form="ngForm">
              <section fxLayout="column" fxLayoutAlign="start stretch">
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Mobile Number or Recovery Email" type="text" name="name" required />
                </mat-form-field>
                <button class="mat-blue" mat-raised-button>Submit</button>
              </section>
            </form>
          </section>
        </mat-card>
      </section>
    </section>
  </section>
</section>
