<section id="contact-us-container">
  <mat-card>
    <!-- Mat Card Title -->
    <mat-card-title>Contact Us</mat-card-title>

    <mat-divider></mat-divider>

    <!-- Mat Card Content -->
    <mat-card-content>
      <h6>Get In Touch</h6>
      Eastern Clinical Laboratories is a Medical Diagnostic Services company based in Dubai.The company has been in operation for over 10 years and has been at the forefront of Diagnostic Healthcare in the region. The company was established to bring a paradigm shift in the diagnostic industry in the MENA region through adoption of innovative technologies and exceptional customer service.

      <h6>Who to Contact</h6>
      During Lab Timings: <br>

      9:00 AM to 11:00 PM <br>
      Tel.: +971 4 3244512 <br>

      <h6>LABORATORY QUALITY</h6>
      Mobile: +971 55 7277423 <br>
      Email: fatma.k@ecl.ae <br>

      <h6>ACCOUNTS BILLING</h6>
      Adnan Shahid <br>
      Assistant Accountant <br>

      Email: accounts@ecl.ae <br>

      <h6>Eastern Clinical Laboratories </h6>
      Elite Business Center, <br>
      Floor 1, Office 105 Al Barsha, <br>
      Behind Mall of Emirates, <br>
      Dubai, UAE <br>
      Phone: +971 4 324 4512 <br>
    </mat-card-content>
  </mat-card>
</section>
