<section id="equipment-list-container">
    <section *ngFor="let element of equipment">
      <section class="title-wrapper">
        <section class="title">#{{ element.equipmentId }}</section>
        <mat-icon class="pointer mr-12 white" [matMenuTriggerFor]="statusMenu">arrow_drop_down</mat-icon>
        <mat-menu #statusMenu="matMenu">
          <button mat-menu-item (click)="onEditEquipmentClicked(element)">Edit</button>
          <button mat-menu-item (click)="onDeleteEquipmentClicked(element.equipmentId)">Delete</button>
        </mat-menu>
      </section>
      <section class="action-buttons-container">
        <button mat-button>
          <i class="fa fa-lg fa-eye dark-blue" aria-hidden="true"></i>
        </button>
  
        <button mat-button>
          <i class="fa fa-lg fa-pencil deep-orange" aria-hidden="true"></i>
        </button>
  
        <button mat-button>
          <i class="fa fa-lg fa-trash red" aria-hidden="true"></i>
        </button>
      </section>
      <section class="equipment-container">

        <!--Asset Name -->
        <section class="sub-title">Asset Name</section>
        <section>{{ element.assetName |uppercase }}</section>

        <!--Asset Id -->
        <section class="sub-title">Asset Id</section>
        <section>{{ element.assetId }}</section>

        <!-- Brand -->
        <section class="sub-title">Brand</section>
        <section>{{ element.brand.brandName |uppercase}}</section>
  
        <!-- Puchase Date -->
        <section class="sub-title">Puchase Date</section>
        <section>{{ element.machine }}</section>

         <!-- Puchase From -->
         <section class="sub-title">Puchase From</section>
         <section>{{ element.puchaseFrom |uppercase}}</section>
  
        <!-- Manufacturer Model -->
        <section class="sub-title">Manufacturer Model</section>
        <section>{{ element.model |uppercase}}</section>

        <!-- Serial No -->
        <section class="sub-title">Serial No</section>
        <section>{{ element.serialNo}}</section>

         <!-- Supplier -->
         <section class="sub-title">Supplier</section>
         <section>{{ element.supplier |uppercase}}</section>

          <!-- Condition -->
          <section class="sub-title">Condition</section>
          <section>{{ element.condition |uppercase}}</section>

          <!-- Warranty -->
          <section class="sub-title">Warranty</section>
          <section>{{ element.warranty |uppercase}}</section>


           <!-- Depletion -->
           <section class="sub-title">Depletion</section>
           <section>{{ element.depletion |uppercase}}</section>

           <!-- Value -->
           <section class="sub-title">Value</section>
           <section>{{ element.value |uppercase}}</section>

           <!-- Location -->
           <section class="sub-title">Location</section>
           <section>{{ element.location |uppercase}}</section>

           <!-- Description -->
           <section class="sub-title">Description</section>
           <section>{{ element.description |uppercase}}</section>
       
      </section>
    </section>
  </section>

