<section id="account-feedback-survey-container">
  <form action="" class="feedback-form">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput maxlength="25" placeholder="Name" />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput maxlength="25" placeholder="Email Address" />
    </mat-form-field>

    <!-- Subject -->
    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input matInput maxlength="25" placeholder="Subject" />
    </mat-form-field>

    <!-- Comments/ Suggestions -->
    <mat-form-field>
      <mat-label>Comments/ Suggestions</mat-label>
      <input matInput maxlength="25" placeholder="Comments/ Suggestions" />
    </mat-form-field>
  </form>
</section>

<section>
  <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2">Clear</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2">Submit</button>
  </section>
</section>
