<section id="method-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Method(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">
        <!-- Method Name -->
        <mat-form-field>
          <mat-label>Method Name</mat-label>
          <input matInput placeholder="Method Name" name="methodName" ngModel #methodName="ngModel" />
        </mat-form-field>

        <!-- Department -->
        <mat-form-field>
          <mat-label>Department</mat-label>
          <mat-select disableOptionCentering name="departmentId" ngModel #departmentId="ngModel">
            <mat-option *ngFor="let options of departments" [value]="options.departmentId">{{
              options.departmentName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  