<section id="method-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Method(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">
        <!-- Integration Code -->
        <mat-form-field>
            <mat-label>Integration Code</mat-label>
            <input matInput placeholder="Integration Code" />
          </mat-form-field>


          <!-- Machine -->
          <mat-form-field>
            <mat-label>Machine</mat-label>
            <input matInput placeholder="Machine" />
          </mat-form-field>


           <!-- Method Name -->
           <mat-form-field>
            <mat-label>Method Name</mat-label>
            <input matInput placeholder="Method Name" />
          </mat-form-field>
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  