@import "../../../../../../../assets/styles/scss/color";

@mixin forms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

@mixin margin-bottom-18 {
  margin-bottom: 18px;
}

.validation{
  color:rgb(238, 65, 65);
  font-size: 10px;

}
#combined-test-container {
  .combined-test-mat-card {
    display: grid;
    grid-template-columns: 220px 1fr;

    .outsource-dialog {
      margin: auto;
    }

    .combined-test-form {
      .basic-wrapper {
        @include margin-bottom-18;

        .basic-content {
          @include forms-grid;

          .pt-19 {
            padding-top: 19px;
          }
          .sub-color {
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }

      .payment-information-wrapper {
        @include margin-bottom-18;

        .payment-information-content {
          @include forms-grid;
        }
      }

      .login-information-wrapper {
        @include margin-bottom-18;

        .login-information-content {
          @include forms-grid;
        }
      }

      .comment-information-wrapper {
        @include margin-bottom-18;
      }
    }

    .action-buttons-wrapper {
      display: flex;
      margin: 12px;

      justify-content: center;
      align-items: center;

      button {
        margin-left: 24px;
      }
    }
  }
}
