<section id="combined-test-container">
  <mat-card class="combined-test-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Combine Test Master" subTitle="Add a Combine Test" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!--combined Test Form -->
          <form class="combined-test-form" #combinedTest="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Combine Test Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- ECl Code-->
                <mat-form-field>
                  <mat-label>ECl DOS Code</mat-label>
                  <input
                    class="uppercase"
                    matInput
                    placeholder="ECl DOS Code"
                    [(ngModel)]="test.eclDosCode"
                    name="eclDosCode"
                    pattern="[a-zA-Z ]*"
                    required
                    #eclDosCode="ngModel"
                  />
                  <mat-error *ngIf="eclDosCode.invalid && (eclDosCode.dirty || eclDosCode.touched)" class="red">
                    <mat-error *ngIf="eclDosCode.errors.required">
                      Ecl Dos Code is required.
                    </mat-error>
                    <mat-error *ngIf="eclDosCode.errors?.pattern">
                      Text is required.
                    </mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Test ID-->
                <mat-form-field>
                  <mat-label>Test ID</mat-label>
                  <input matInput placeholder="TEST ID" [(ngModel)]="test.testId" name="testId" class="uppercase" />
                </mat-form-field>

                <!-- CPT Code-->
                <mat-form-field>
                  <mat-label>CPT Code</mat-label>
                  <input matInput placeholder="CPT Code" [(ngModel)]="test.cptCode" name="cptCode" class="uppercase" />
                </mat-form-field>

                <!-- Test Name-->
                <mat-form-field>
                  <mat-label>Test Name</mat-label>
                  <input
                    matInput
                    placeholder="TEST NAME"
                    required
                    [(ngModel)]="test.testName"
                    name="testName"
                    class="uppercase"
                  />
                </mat-form-field>

                <!-- Center Name-->
                <!-- <mat-form-field>
                  <mat-label>Center Name</mat-label>
                  <input matInput placeholder="Center Name" [(ngModel)]="test.centerName" name="centerName"/>
                </mat-form-field> -->

                <!-- Specimmen-->
                <mat-form-field>
                  <mat-label>Specimen</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.specimen" name="specimen">
                    <mat-option *ngFor="let item of specimen" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Specimen -->
                <mat-form-field>
                  <mat-label>Specimen Type</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.specimenType" name="specimenType">
                    <mat-option *ngFor="let item of specimenType" [value]="item.lookupId"
                      >{{ item.keyValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Storage-->
                <mat-form-field>
                  <mat-label>Storage</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.storage" name="storageId">
                    <mat-option *ngFor="let item of storage" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Department-->
                <mat-form-field>
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.department" name="departmentId">
                    <mat-option *ngFor="let item of departments" [value]="item.departmentId">{{
                      item.departmentName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!--Patient Fee-->
                <mat-form-field>
                  <mat-label>Patient Fee</mat-label>
                  <input
                    matInput
                    placeholder="PATIENT FEE"
                    required
                    [(ngModel)]="test.patientFee"
                    name="patientFee"
                    class="uppercase"
                  />
                </mat-form-field>

                <!-- Net Fee-->
                <mat-form-field>
                  <mat-label>Net Fee</mat-label>
                  <input
                    matInput
                    placeholder="NET FEE"
                    required
                    [(ngModel)]="test.netFee"
                    name="netFee"
                    class="uppercase"
                  />
                </mat-form-field>

                <!-- Report Format -->
                <mat-form-field>
                  <mat-label>Report Format</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.reportFormat" name="reportFormat">
                    <mat-option value=1>Radiology</mat-option>
                    <mat-option value=2>Pathology</mat-option>
                    <mat-option value=3>General Report</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <section class="link-test-to-combine-information-wrapper">
              <!-- Header -->
              <app-section-header title="link Individual Test Information"></app-section-header>

              <!-- Content -->
              <section class="link-test-to-combine-information-content">
                <!-- Group By-->
                <mat-form-field style="padding-left: 10px;">
                  <mat-label>Group By</mat-label>
                  <mat-select disableOptionCentering name="groupById" [(ngModel)]="groupById">
                    <mat-option *ngFor="let options of groupBys" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Order By-->
                <mat-form-field style="padding-left: 10px;">
                  <mat-label>Order By</mat-label>
                  <mat-select disableOptionCentering name="orderById" [(ngModel)]="orderById">
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">4</mat-option>
                    <mat-option [value]="5">5</mat-option>
                    <mat-option [value]="6">6</mat-option>
                    <mat-option [value]="7">7</mat-option>
                    <mat-option [value]="8">8</mat-option>
                    <mat-option [value]="9">9</mat-option>
                    <mat-option [value]="10">10</mat-option>
                    <mat-option [value]="11">11</mat-option>
                    <mat-option [value]="12">12</mat-option>
                    <mat-option [value]="13">13</mat-option>
                    <mat-option [value]="14">14</mat-option>
                    <mat-option [value]="15">15</mat-option>
                    <mat-option [value]="16">16</mat-option>
                    <mat-option [value]="17">17</mat-option>
                    <mat-option [value]="18">18</mat-option>
                    <mat-option [value]="19">19</mat-option>
                    <mat-option [value]="20">20</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Search TextBox -->
                <mat-form-field style="float: right;">
                  <input
                    matInput
                    type="text"
                    (keyup)="searchQuery($event)"
                    placeholder="Search for Tests"
                    [matAutocomplete]="search"
                  />
                  <mat-autocomplete #search="matAutocomplete">
                    <mat-option *ngFor="let element of selectedTests" (click)="selectedAutoComplete(element)">
                      {{ element.testComponent }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <!-- Mat Data Table -->
                <table mat-table [dataSource]="testsInTable" class="full-width">
                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Test ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.individualTestId }}</td>
                  </ng-container>

                  <!-- Activity -->
                  <ng-container matColumnDef="activity">
                    <th mat-header-cell *matHeaderCellDef>Activity</th>
                    <td mat-cell *matCellDef="let element">{{ element.ActiveStatus }}</td>
                  </ng-container>

                  <!-- Test Category -->
                  <ng-container matColumnDef="testCategory">
                    <th mat-header-cell *matHeaderCellDef>Test Category</th>
                    <td mat-cell *matCellDef="let element">{{ element.testCategory.testCategoryName }}</td>
                  </ng-container>

                  <!-- Accreditiation Symbol -->
                  <ng-container matColumnDef="accreditiationSymbol">
                    <th mat-header-cell *matHeaderCellDef>Accreditiation Symbol</th>
                    <td mat-cell *matCellDef="let element">{{ element.accreditationSymbol }}</td>
                  </ng-container>

                  <!-- Integration code -->
                  <ng-container matColumnDef="integrationCode">
                    <th mat-header-cell *matHeaderCellDef>Integration Code</th>
                    <td mat-cell *matCellDef="let element">{{ element.integrationCode }}</td>
                  </ng-container>

                  <!-- Test Component -->
                  <ng-container matColumnDef="testComponent">
                    <th mat-header-cell *matHeaderCellDef>Test Component</th>
                    <td mat-cell *matCellDef="let element">{{ element.testComponent }}</td>
                  </ng-container>

                  <!-- Processing Center -->
                  <ng-container matColumnDef="processingCenter">
                    <th mat-header-cell *matHeaderCellDef>Processing Center</th>
                    <td mat-cell *matCellDef="let element">{{ element.processingCenter }}</td>
                  </ng-container>

                  <!-- Outsource Vendor Code -->
                  <ng-container matColumnDef="outsourceVendorCode">
                    <th mat-header-cell *matHeaderCellDef>Outsource Vendor Code</th>
                    <td mat-cell *matCellDef="let element">{{ element.outsourceVendorCode }}</td>
                  </ng-container>

                  <!-- Method -->
                  <ng-container matColumnDef="method">
                    <th mat-header-cell *matHeaderCellDef>Method</th>
                    <td mat-cell *matCellDef="let element">{{ element.method.methodName }}</td>
                  </ng-container>

                  <!--Unit -->
                  <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef>Unit</th>
                    <td mat-cell *matCellDef="let element">{{ element.unit.unitName }}</td>
                  </ng-container>

                  <!--Reference Range -->
                  <ng-container matColumnDef="referenceRange">
                    <th mat-header-cell *matHeaderCellDef>Reference Range</th>
                    <td mat-cell *matCellDef="let element">{{ element.referenceRange }}</td>
                  </ng-container>

                  <!--TAT -->
                  <ng-container matColumnDef="tat">
                    <th mat-header-cell *matHeaderCellDef>TAT</th>
                    <td mat-cell *matCellDef="let element">{{ element.tat }}</td>
                  </ng-container>

                  <!--CPT Amount-->
                  <ng-container matColumnDef="cptAmount">
                    <th mat-header-cell *matHeaderCellDef>CPT Amount</th>
                    <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
                  </ng-container>

                  <!--Accreditation -->
                  <ng-container matColumnDef="accreditation">
                    <th mat-header-cell *matHeaderCellDef>Accreditation</th>
                    <td mat-cell *matCellDef="let element">{{ element.accreditation }}</td>
                  </ng-container>

                  <!--Comments -->
                  <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef>Comment</th>
                    <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
                  </ng-container>

                  <!--Action-->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                      <section class="actions-wrapper">
                        <app-column-chooser
                          [columns]="filteredColumns"
                          (closed)="onColumnChooserClosed($event)"
                        ></app-column-chooser>
                      </section>
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <section class="actions-wrapper">
                        <button
                          class="delete-button"
                          mat-button
                          color="warn"
                          disableRipple
                          (click)="onClearButtonClicked(i)"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </section>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <section *ngIf="isBusy">
                  <app-progress-indicator label="Fetching Test(s)"></app-progress-indicator>
                </section>
              </section>

              <!-- No Record(s) Message -->
              <section
                fxLayout
                fxLayoutAlign="center center"
                class="mat-card-subtitle mt-3 mb-3"
                *ngIf="!tests && !isBusy"
              >
                No Tests Found
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="addTest()">Add Combine Test</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
