<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <section class="ease-appoinmet">
      <mat-label>Our facilities<span>*</span></mat-label>
      <section>
        <mat-radio-group>
          <mat-radio-button value="worse" class="example-radio-button">
            1
          </mat-radio-button>
          <mat-radio-button value="sad" class="example-radio-button">
            2
          </mat-radio-button>
          <mat-radio-button value="good" class="example-radio-button">
            3
          </mat-radio-button>
          <mat-radio-button value="extra-ordinary" class="example-radio-button">
            4
          </mat-radio-button>
          <mat-radio-button value="extra-ordinarys" class="example-radio-button">
            5
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </section>
    <section>
      <mat-label>Your overall experience <span>*</span></mat-label>
      <section>
        <mat-radio-group>
          <mat-radio-button value="worse" class="example-radio-button">
            1
          </mat-radio-button>
          <mat-radio-button value="sad" class="example-radio-button">
            2
          </mat-radio-button>
          <mat-radio-button value="good" class="example-radio-button">
            3
          </mat-radio-button>
          <mat-radio-button value="extra-ordinary" class="example-radio-button">
            4
          </mat-radio-button>
          <mat-radio-button value="extra-ordinarys" class="example-radio-button">
            5
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </section>
    <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
      <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
    </section>
  </form>
</section>
