<section id="combined-test-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for combine Test(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">
        <!--  Id -->
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput placeholder="Name" />
        </mat-form-field>
  
        <!-- Status -->
        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput placeholder="Status" />
        </mat-form-field>
  
        <!-- Specimen -->
        <mat-form-field>
          <mat-label>Specimen</mat-label>
          <input matInput placeholder="Specimen" />
        </mat-form-field>
  
        <!-- Specimen Type -->
        <mat-form-field>
          <mat-label>Specimen Type</mat-label>
          <input matInput />
        </mat-form-field>
  
        <!-- Test Name -->
        <mat-form-field>
          <mat-label>Test Name</mat-label>
          <input matInput placeholder="Test Mame"  />
        </mat-form-field>
  
        <!--Department -->
        <mat-form-field>
          <mat-label>Department</mat-label>
          <input matInput placeholder="Department" />
        </mat-form-field>
  
        <!-- Location -->
        <mat-form-field>
          <mat-label>Location</mat-label>
          <input matInput placeholder="Location" />
        </mat-form-field>
  

      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  