<mat-card>
  <mat-card-content>
    <mat-card class="p-2 mb-2">
      <section fxLayout="row wrap" class="mb-3">
        <section fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25" class="profile-center">
          <section class="mb-1">
            <i class="fa fa-user-circle-o fa-5x user-icon" aria-hidden="true"></i>
          </section>
          <h4 class="ma-0">Lab User</h4>
          <small>lab@gmail.com</small>
          <p class="mt-xs mb-xs">Sr. Manager</p>
          <a href="javascript:;" class="block mt-xs mb-xs">www.lis.com</a>
          <button mat-raised-button color="primary">Edit Profile</button>
        </section>
        <section fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="75" fxFlex.xl="75" class="content-data">
          <figure>
            <mat-card-content>
              <section fxLayout="row" class="text-xs-center">
                <section fxFlex="33">
                  <h2 class="mt-0"><b>23,8K</b></h2>
                  <small>Followers</small>
                </section>
                <section fxFlex="33">
                  <h2 class="mt-0"><b>569</b></h2>
                  <small>Following</small>
                </section>
                <section fxFlex="33">
                  <h2 class="mt-0"><b>67</b></h2>
                  <small>Posts</small>
                </section>
              </section>
            </mat-card-content>
            <hr />
            <mat-card-content>
              <h6 class="mt-0">About</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut minima animi libero deserunt culpa cumque
                nobis quasi sequi fugit consequatur veniam dolore aliquam in expedita id voluptate, tenetur magni, a
                possimus laborum, vitae neque est, delectus commodi? Aspernatur, illum, sed. fugit consequatur veniam
                dolore aliquam in expedita id voluptate, tenetur magni, a possimus laborum, vitae neque est, delectus
                commodi? Aspernatur, illum, sed
              </p>
            </mat-card-content>
          </figure>
        </section>
      </section>
    </mat-card>
    <mat-card class="p-2">
      <h4>Profile Settings</h4>
      <mat-tab-group class="mt-2">
        <mat-tab>
          <ng-template mat-tab-label>Home</ng-template>
          <h6><strong>Recent Added Images</strong></h6>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati
            ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non
            omnis!
          </p>
          <mat-card-content class="px-0">
            <section fxLayout="row wrap">
              <section
                fxFlex.xs="100"
                fxFlex.sm="100"
                fxFlex.md="33.33"
                fxFlex.lg="33.33"
                fxFlex.xl="33.33"
                class="mat-pad mb-1"
              >
                <section class="hover-parent">
                  <img src="assets/images/unsplash/9.jpg" alt="Card image cap" />
                  <section class="hover-overlay">
                    <section class="hover-overlay-content">
                      <h3 mat-line>Rest In Jungle</h3>
                      <span mat-line>Travel</span>
                    </section>
                  </section>
                </section>
              </section>
              <section
                fxFlex.xs="100"
                fxFlex.sm="100"
                fxFlex.md="33.33"
                fxFlex.lg="33.33"
                fxFlex.xl="33.33"
                class="mat-pad mb-1"
              >
                <section class="hover-parent">
                  <img src="assets/images/unsplash/7.jpg" alt="Card image cap" />
                  <section class="hover-overlay">
                    <section class="hover-overlay-content">
                      <h3 mat-line>Home</h3>
                      <span mat-line>Still</span>
                    </section>
                  </section>
                </section>
              </section>
              <section
                fxFlex.xs="100"
                fxFlex.sm="100"
                fxFlex.md="33.33"
                fxFlex.lg="33.33"
                fxFlex.xl="33.33"
                class="mat-pad mb-1"
              >
                <section class="hover-parent">
                  <img src="assets/images/unsplash/8.jpg" alt="Card image cap" />
                  <section class="hover-overlay">
                    <section class="hover-overlay-content">
                      <h3 mat-line>Rest In Jungle</h3>
                      <span mat-line>Travel</span>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </mat-card-content>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Activities</ng-template>
          <h6><strong>Activities</strong></h6>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati
          ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non
          omnis!
          <mat-card-content class="px-0">
            <section class="activity-stream">
              <mat-card class="shadow-none">
                <mat-card-header>
                  <img mat-card-avatar src="assets/images/face1.jpg" />
                  <mat-card-title class="activity-head">Made a call</mat-card-title>
                  <mat-card-subtitle>Today</mat-card-subtitle>
                </mat-card-header>
              </mat-card>
              <mat-card class="shadow-none">
                <mat-card-header>
                  <img mat-card-avatar src="assets/images/avatar.jpg" />
                  <mat-card-title class="activity-head">Update Profile</mat-card-title>
                  <mat-card-subtitle>July 10</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae
                    commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa
                    perspiciatis repellat voluptate veritatis optio!
                  </p>
                  <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                  <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                </mat-card-content>
              </mat-card>
              <mat-card class="shadow-none">
                <mat-card-header>
                  <img mat-card-avatar src="assets/images/avatar.jpg" />
                  <mat-card-title class="activity-head">Update Profile</mat-card-title>
                  <mat-card-subtitle>July 10</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae
                    commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa
                    perspiciatis repellat voluptate veritatis optio!
                  </p>
                  <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                  <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                </mat-card-content>
              </mat-card>
              <mat-card class="shadow-none">
                <mat-card-header>
                  <img mat-card-avatar src="assets/images/avatar.jpg" />
                  <mat-card-title class="activity-head">Update Profile</mat-card-title>
                  <mat-card-subtitle>July 10</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur nemo consequatur beatae
                    commodi ratione, distinctio veniam voluptatibus amet soluta earum quo pariatur impedit neque, ipsa
                    perspiciatis repellat voluptate veritatis optio!
                  </p>
                  <a href="javascript:;" class="mr-1 opacity-06"> <strong>Like</strong></a>
                  <a href="javascript:;" class="opacity-06"><strong>Comment</strong></a>
                </mat-card-content>
              </mat-card>
            </section>
          </mat-card-content>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>Friends</ng-template>
          <h6><strong>Friends</strong></h6>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptatum nisi est? Libero obcaecati
          ipsam culpa quas! Dolorem assumenda inventore, officiis quia neque nihil possimus a nemo, doloribus, non
          omnis!
          <mat-card-content class="px-0">
            <section fxLayout="row wrap">
              <section fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                <mat-card>
                  <section class="friend-single">
                    <section class="card hovercard">
                      <section class="cardheader"></section>
                      <section class="avatar">
                        <img alt="" src="assets/images/user-3.jpg" />
                      </section>
                      <section class="info">
                        <section class="title">
                          <a target="_blank" href="#">Jebia Hriam</a>
                        </section>
                        <section class="desc">Passionate designer</section>
                        <section class="desc">Curious developer</section>
                        <section class="desc">Tech geek</section>
                      </section>
                      <section class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-behance"></i>
                        </a>
                      </section>
                    </section>
                  </section>
                </mat-card>
              </section>
              <section fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                <mat-card>
                  <section class="friend-single">
                    <section class="card hovercard">
                      <section class="cardheader"></section>
                      <section class="avatar">
                        <img alt="" src="assets/images/user-2.jpg" />
                      </section>
                      <section class="info">
                        <section class="title">
                          <a target="_blank" href="#">Clodia White</a>
                        </section>
                        <section class="desc">Passionate designer</section>
                        <section class="desc">Curious developer</section>
                        <section class="desc">Tech geek</section>
                      </section>
                      <section class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-behance"></i>
                        </a>
                      </section>
                    </section>
                  </section>
                </mat-card>
              </section>
              <section fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100" class="m-gap p-gap">
                <mat-card>
                  <section class="friend-single">
                    <section class="card hovercard">
                      <section class="cardheader"></section>
                      <section class="avatar">
                        <img alt="" src="assets/images/user-1.jpg" />
                      </section>
                      <section class="info">
                        <section class="title">
                          <a target="_blank" href="#">John Doe</a>
                        </section>
                        <section class="desc">Passionate designer</section>
                        <section class="desc">Curious developer</section>
                        <section class="desc">Tech geek</section>
                      </section>
                      <section class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com">
                          <i class="fa fa-behance"></i>
                        </a>
                      </section>
                    </section>
                  </section>
                </mat-card>
              </section>
            </section>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-card-content>
</mat-card>
