<section id="equipment-container">
  <mat-card class="equipment-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Equipment" subTitle="Add a Equipment " icon="fa-calendar"> </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="equipment-dialog">
        <section>
          <!-- equipment Form -->
          <form class="equipment-form" #equipment="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Brand -->
                <mat-form-field class="mt-n7">
                  <mat-label>Brand</mat-label>
                  <mat-select disableOptionCentering name="brandId" ngModel #brandId="ngModel">
                    <mat-option *ngFor="let options of brands" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Machine -->
                <mat-form-field>
                  <mat-label>Machine</mat-label>
                  <input matInput placeholder="Machine" name="machineName" class="uppercase" ngModel #machineName="ngModel" required/>
                </mat-form-field>

                <!-- Model -->
                <mat-form-field>
                  <mat-label>Model</mat-label>
                  <input matInput placeholder="Model" name="model" class="uppercase" ngModel #model="ngModel" required />
                </mat-form-field>

                <!-- Serial No -->
                <mat-form-field>
                  <mat-label>Serial No</mat-label>
                  <input matInput placeholder="Serial No" name="serialNo" class="uppercase" ngModel #serialNo="ngModel" required/>
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddEquipmentClicked(equipment)">
              Add Equipment
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
