<section id="equipment-container">
  <mat-card class="equipment-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Equipment" subTitle="Add a Equipment " icon="fa-calendar"> </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="equipment-dialog">
        <section>
          <!-- equipment Form -->
          <form class="equipment-form" #equipment="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">

                <!-- Asset Name -->
                <mat-form-field>
                  <mat-label>Asset Name</mat-label>
                  <input matInput placeholder="Asset Name" name="assetName" class="uppercase" ngModel #assetName="ngModel" required />
                </mat-form-field> 

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" ngModel #active="ngModel">Active</mat-slide-toggle>
                </section>
                
                <!-- Asset Id -->
                <mat-form-field>
                  <mat-label>Asset Id</mat-label>
                  <input matInput placeholder="Asset Id" name="assetId" class="uppercase" ngModel #assetId="ngModel" required />
                </mat-form-field>


                <!-- Brand -->
                <mat-form-field class="mt-n7">
                  <mat-label>Brand</mat-label>
                  <mat-select disableOptionCentering name="brandId" ngModel #brandId="ngModel">
                    <mat-option *ngFor="let options of brands" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Puchase Date -->
                <mat-form-field>
                  <mat-label>Puchase Date</mat-label>
                  <input matInput placeholder="Puchase Date" name="puchaseDate" class="uppercase" ngModel #puchaseDate="ngModel" required/>
                </mat-form-field>

                <!-- Interface Type -->
                <mat-form-field class="mt-n7">
                  <mat-label>Interface Type</mat-label>
                  <mat-select disableOptionCentering name="relation" ngModel #relation="ngModel">
                    <mat-option value="1">
                      Yes
                    </mat-option>
                    <mat-option value="2">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!--Manufacturer Model -->
                <mat-form-field>
                  <mat-label>Manufacturer Model</mat-label>
                  <input matInput placeholder="Manufacturer Model" name="manufacturerModel" class="uppercase" ngModel #manufacturerModel="ngModel" required />
                </mat-form-field>

                <!-- Serial No -->
                <mat-form-field>
                  <mat-label>Serial No</mat-label>
                  <input matInput placeholder="Serial No" name="serialNo" class="uppercase" ngModel #serialNo="ngModel" required/>
                </mat-form-field>

                <!--Supplier -->
                <mat-form-field>
                  <mat-label>Supplier</mat-label>
                  <input matInput placeholder="Supplier" name="supplier" class="uppercase" ngModel #supplier="ngModel" required />
                </mat-form-field>

                <!--Condition -->
                <mat-form-field>
                  <mat-label>Condition</mat-label>
                  <input matInput placeholder="Condition" name="condition" class="uppercase" ngModel #condition="ngModel" required />
                </mat-form-field>

                <!--Warranty -->
                <mat-form-field>
                  <mat-label>Warranty</mat-label>
                  <input matInput placeholder="Warranty" name="warranty" class="uppercase" ngModel #warranty="ngModel" required />
                </mat-form-field>

                <!--Depreciation -->
                <mat-form-field>
                  <mat-label>Depreciation</mat-label>
                  <input matInput placeholder="Depreciation" name="depreciation" class="uppercase" ngModel #depreciation="ngModel" required />
                </mat-form-field>

                <!--Value -->
                <mat-form-field>
                  <mat-label>Value</mat-label>
                  <input matInput placeholder="Value" name="value" class="uppercase" ngModel #value="ngModel" required />
                </mat-form-field>

                

                <!--Area-->
                <mat-form-field>
                  <mat-label>Area</mat-label>
                  <input matInput placeholder="Area" name="area" class="uppercase" ngModel #area="ngModel"/>
                </mat-form-field>

                <!--City -->
                <mat-form-field>
                  <mat-label>City</mat-label>
                  <input matInput placeholder="city" name="city" class="uppercase" ngModel #city="ngModel" />
                </mat-form-field>

                <!--Country-->
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <input matInput placeholder="Country" name="country" class="uppercase" ngModel #country="ngModel" />
                </mat-form-field>


                <!--Description -->
                <mat-form-field >
                  <mat-label>Description</mat-label>
                  <textarea  matInput maxlength="10" placeholder="Description" name="description" class="uppercase" ngModel #description="ngModel" required ></textarea>
                </mat-form-field>

                
                <section class="label" >Picture  <button mat-button color="primary">
                  Upload
                </button></section>

                

              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddEquipmentClicked(equipment)">
              Add Equipment
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
