<section id="comment-container">
    <mat-card class="comment-mat-card">
      <!--  Dialog Caption -->
      <section>
        <app-dialog-caption title="Comment" subTitle="Add a Comment " icon="fa-calendar"> </app-dialog-caption>
      </section>
  
      <!-- Dialog Content -->
      <section>
        <!-- Mat Card Header -->
        <app-mat-dialog-header></app-mat-dialog-header>
  
        <!-- Mat Card Content -->
        <mat-dialog-content class="comment-dialog">
          <section>
            <!-- Comment Form -->
            <form class="comment-form" #comment="ngForm">
              <!-- Basic Information -->
              <section class="basic-wrapper">
                <!-- Header -->
                <app-section-header title="Comment"></app-section-header>
  
                <!-- Content -->
                <section class="basic-content">
                  <!-- Comment Name -->
                  <mat-form-field class="mt-n7">
                    <mat-label>Comment</mat-label>
                    <textarea matInput placeholder="Comment" name="keyValue" ngModel #keyValue="ngModel"></textarea>
                  </mat-form-field>
                </section>
              </section>
            </form>
  
            <section class="action-buttons-wrapper">
              <button mat-button color="primary">Clear</button>
              <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddCommentClicked(comment)">
                Add Comment
              </button>
            </section>
          </section>
        </mat-dialog-content>
      </section>
    </mat-card>
  </section>
  
