<section id="organisation-container">
  <mat-card class="organisation-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Organisations" subTitle="Add a Organisation" icon="fa-calendar"> </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="organisation-form" #organisation="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Lab Name -->
                <mat-form-field>
                  <mat-label>Organization</mat-label>
                  <input matInput placeholder="Organization"  class="uppercase" name="clinicName" ngModel #clinicName="ngModel" pattern="[a-zA-Z]*" required  />
                  <mat-error *ngIf="clinicName.invalid && (clinicName.dirty || clinicName.touched) ">
                    <mat-error *ngIf="clinicName.errors.required" >organization is required</mat-error>
                    <mat-error *ngIf="clinicName.errors?.pattern" >text is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" ngModel #active="ngModel">Active</mat-slide-toggle>
                </section>

                <!-- Relation -->
                <mat-form-field class="mt-n7">
                  <mat-label>Branch</mat-label>
                  <mat-select disableOptionCentering name="relation" ngModel #relation="ngModel">
                    <mat-option value="1">
                      Yes
                    </mat-option>
                    <mat-option value="2">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Type -->
                <mat-form-field class="mt-n7">
                  <mat-label>Type </mat-label>
                  <mat-select matInput placeholder="Type " name="type" ngModel #type="ngModel"></mat-select>
                </mat-form-field>

                <!-- Business Hours -->
                <mat-form-field>
                  <mat-label>Business Hours</mat-label>
                  <input matInput placeholder="Business Hours" name="businessHours" ngModel #address="ngModel" />
                </mat-form-field>

                <!-- Remarks -->
                <mat-form-field>
                  <mat-label>Remarks</mat-label>
                  <textarea matInput placeholder="Remarks" name="address" ngModel #address="ngModel"></textarea>
                </mat-form-field>
              </section>
            </section>

            <!-- Locale Information -->
            <section class="locale-information-wrapper">
              <!-- Header -->
              <app-section-header title="Address Information"></app-section-header>

              <!-- Content -->
              <section class="locale-information-content">
                <!-- Address -->
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <textarea matInput placeholder="Address" class="uppercase" name="address" ngModel #address="ngModel" required ></textarea>
                  <mat-error *ngIf="address.invalid && (address.dirty || address.touched) " >
                    <mat-error *ngIf="address.errors.required" >Address is required</mat-error>
                    
                  </mat-error>
                </mat-form-field>

                <!-- Area -->
                <mat-form-field>
                  <mat-label> Area</mat-label>
                  <input matInput placeholder=" Area" name=" area" ngModel #area="ngModel" />
                </mat-form-field>


                <!-- P.O.Box -->
                <mat-form-field>
                  <mat-label>P.O.Box</mat-label>
                  <input matInput placeholder="P.O.Box" name="postBox" ngModel #postBox="ngModel" />
                </mat-form-field>

                <!-- Telephone -->
                <mat-form-field>
                  <mat-label>Telephone</mat-label>
                  <input matInput placeholder="Telephone" name="telephone" ngModel #telephone="ngModel" pattern="[0-9]+" minlength=10  required/>
                
                  <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched) " >
                    <mat-error *ngIf="telephone.errors.required" >telephone is required</mat-error>
                    <mat-error *ngIf="telephone.errors?.pattern" >number is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Email-->
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" name="email" ngModel #email="ngModel" />
                </mat-form-field>


                <!-- Fax -->
                <mat-form-field>
                  <mat-label>Fax</mat-label>
                  <input matInput placeholder="Fax" name="fax" ngModel #fax="ngModel" />
                </mat-form-field>

                <!-- Web -->
                <mat-form-field>
                  <mat-label>Web</mat-label>
                  <input matInput placeholder="Web" name="web" ngModel #web="ngModel" />
                </mat-form-field>

                <!-- Region-->
                <mat-form-field class="mt-n7">
                  <mat-label>City</mat-label>
                  <mat-select disableOptionCentering name="region" ngModel #region="ngModel"> </mat-select>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field class="mt-n7">
                  <mat-label>Country</mat-label>
                  <mat-select disableOptionCentering name="country" ngModel #country="ngModel"> </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Contact person -->
            <section class="contactperson-information-wrapper" *ngIf="contactPersonList">
              <!-- Header -->
              <app-section-header title="Contact  Information"> </app-section-header>
              <!-- Content -->
              <ng-container *ngFor="let contact of contactPersonList">
                <section class="contactperson-information-content">
                  <!-- Contact person Mode -->

                  <!-- Sales Rep -->
                  <mat-form-field>
                    <mat-label>Designation</mat-label>
                    <input matInput placeholder="Designation" name="designation" [(ngModel)]="contact.designation" />
                  </mat-form-field>

                  <!-- Department -->
                <mat-form-field class="mt-n7">
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option >
                      Bio Chemistry
                    </mat-option>
                    <mat-option >
                      Micro Biology
                    </mat-option>
                    <mat-option >
                      Molecular Biology
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                  <!-- Courier -->
                  <!-- <mat-form-field>
                  <mat-label>Courier</mat-label>
                  <mat-select placeholder="Courier" name="courierId" [(ngModel)]="contact.courierId">
                    <mat-option value="22">FedEx</mat-option>
                    <mat-option value="23">Speed Courier</mat-option>
                  </mat-select>
                </mat-form-field> -->

                  <!-- Contact Person Name -->
                  <mat-form-field>
                    <mat-label>Contact Person Name</mat-label>
                    <input
                      matInput
                   placeholder="Contact Person Name"
                      name="contactPersonName"
                  
                      [(ngModel)]="contact.contactPersonName" #contactPersonName="ngModel" class="uppercase" pattern="[a-zA-Z]*" required 
                    />
                    <mat-error *ngIf="contactPersonName.invalid && (contactPersonName.dirty ||contactPersonName.touched) " >
                      <mat-error *ngIf="contactPersonName.errors.required" >Nameis required</mat-error>
                      <mat-error *ngIf="contactPersonName.errors?.pattern" >text is required</mat-error>
                      </mat-error>
                  </mat-form-field>

                   <!-- Date of Birth -->
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                  <!-- Mobile -->
                  <mat-form-field>
                    <mat-label>Mobile</mat-label>
                    <input matInput placeholder="Mobile" #mobile="ngModel" name="mobile" [(ngModel)]="contact.mobile"pattern="[0-9]+" minlength=10  required />
                    <mat-error *ngIf="mobile.invalid && (mobile.dirty || mobile.touched) " >
                      <mat-error *ngIf="mobile.errors.required" >mobilenumber is required</mat-error>
                      <mat-error *ngIf="mobile.errors?.pattern" >number is required</mat-error>
                    </mat-error>
                  </mat-form-field>

                  <!-- Email -->
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" class="uppercase" name="email" #email="ngModel" [(ngModel)]="contact.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"required/>
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched) ">
                      <mat-error *ngIf="email.errors.required" >email is required</mat-error>
                      <mat-error *ngIf="email.errors?.pattern" >example@gmail.com</mat-error>
                    </mat-error>
                  </mat-form-field>
                </section>
                <section class="cancel-contact-section">
                  <button mat-raised-button color="primary" (click)="cancelContact(contact)">
                    <mat-icon aria-hidden="false" aria-label="Delete Contact">delete_forever</mat-icon> Remove
                  </button>
                </section>
              </ng-container>
              <section class="add-contact-section">
                <button mat-raised-button color="primary" (click)="addContact()">
                  <mat-icon aria-hidden="false" aria-label="Add Contact">group_add</mat-icon> Add Contact
                </button>
              </section>
            </section>
            <!-- Locale Information -->
            <section class="locale-information-wrapper">
              <!-- Header -->
              <app-section-header title="Locale Information"></app-section-header>

              <!-- Content -->
              <section class="locale-information-content">
                <!-- Contact Person -->
                <!-- Language -->
                <mat-form-field>
                  <mat-label>Language</mat-label>
                  <mat-select disableOptionCentering name="language" ngModel #language="ngModel">
                    <mat-option *ngFor="let options of languages" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Time Zone -->
                <mat-form-field>
                  <mat-label>Time Zone</mat-label>
                  <mat-select disableOptionCentering name="timeZone" ngModel #timeZone="ngModel">
                    <mat-option *ngFor="let options of timeZones" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Locale Information -->
            <section class="locale-information-wrapper">
              <!-- Header -->
              <app-section-header title="Uploads"></app-section-header>
              <!-- Content -->
              <section class="locale-information-content">
                <!-- Logo -->
                <section class="label">
                  Logo
                  <button mat-button color="primary">
                    Upload
                  </button>
                </section>

                <!-- Header -->
                <section class="label">
                  Header
                  <button mat-button color="primary">
                    Upload
                  </button>
                </section>

                <!-- Footer -->
                <section class="label">
                  Footer
                  <button mat-button color="primary">
                    Upload
                  </button>
                </section>
              </section>
            </section>

            <!-- User Credentials Information -->
            <section class="user-credentials-information-wrapper">
              <!-- Header -->
              <app-section-header title="Login & Access"></app-section-header>
              <!-- Content -->
              <section class="user-credentials-content">
                <!-- User Id -->
                <mat-form-field>
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="User Id" name="userId" ngModel #userId="ngModel" required/>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" name="Password" ngModel #password="ngModel" required/>
                </mat-form-field>
              </section>
            </section>
            <!-- User Credentials Information -->
            <section class="user-credentials-information-wrapper">
              <!-- Header -->
              <app-section-header title="Office Use"></app-section-header>
              <!-- Content -->
              <section class="user-credentials-content">
                <!-- Clinic ID -->
                <mat-form-field>
                  <mat-label>Clinic ID</mat-label>
                  <input matInput placeholder="Clinic ID" />
                </mat-form-field>

                <!-- Driver -->
                <mat-form-field>
                  <mat-label>Driver</mat-label>
                  <input matInput placeholder="Driver" />
                </mat-form-field>

                <!-- Sales Rep -->
                <mat-form-field>
                  <mat-label>Sales Representative</mat-label>
                  <input matInput placeholder="Sales Representative" />
                </mat-form-field>

                <!-- Country -->
                <mat-form-field class="mt-n7">
                  <mat-label>Email Report</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option value="uae">
                      Part
                    </mat-option>
                    <mat-option value="india">
                      Final
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Active SMS -->
                <mat-checkbox>Active SMS</mat-checkbox>

                <!-- Active E-mail -->
                <mat-checkbox>Active E-mail</mat-checkbox>

                <!-- Active Auto Invoice -->
                <mat-checkbox>Active Auto Invoice</mat-checkbox>

                <!-- Price List -->
                <section class="label">
                  Price List
                  <button mat-button color="primary">
                    Upload
                  </button>
                </section>
              </section>
            </section>

            <!-- Finance Information -->
            <section class="finance-information-wrapper">
              <!-- Header -->
              <app-section-header title="Finance Information"></app-section-header>

              <!-- Content -->
              <section class="finance-information-content">
                <mat-form-field>
                  <mat-label>Currency</mat-label>
                  <mat-select disableOptionCentering name="paymentMode" ngModel #paymentMode="ngModel">
                    <mat-option value="cash">
                      Cash
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Payment Mode -->
                <mat-form-field>
                  <mat-label>Payment Mode</mat-label>
                  <mat-select disableOptionCentering name="paymentMode" ngModel #paymentMode="ngModel">
                    <mat-option value="cash">
                      Cash
                    </mat-option>
                    <mat-option value="netBanking">
                      Net Banking
                    </mat-option>
                    <mat-option value="credit">
                      Credit Card
                    </mat-option>
                    <mat-option value="debit">
                      Debit Card
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Payment Type -->
                <mat-form-field class="mt-n7">
                  <mat-label>Payment Type</mat-label>
                  <mat-select disableOptionCentering ngModel name="paymentType" #paymentType="ngModel">
                    <mat-option value="cash">
                      Postpaid
                    </mat-option>
                    <mat-option value="netBanking">
                      PrePaid
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Credit Limit -->
                <mat-form-field>
                  <mat-label>Credit Limit</mat-label>
                  <input matInput placeholder="Credit Limit" name="creditLimit" ngModel #creditLimit="ngModel" />
                </mat-form-field>

                <!-- Current Due-->
                <mat-form-field>
                  <mat-label>Current Due</mat-label>
                  <input matInput placeholder="Current Due" name="currentDue" ngModel #currentDue="ngModel" />
                </mat-form-field>

                <!-- Billing Cycle-->
                <mat-form-field class="mt-n7">
                  <mat-label>Billing Cycle</mat-label>
                  <mat-select disableOptionCentering name="relation" ngModel #relation="ngModel">
                    <mat-option value="1">
                      BiMonthly
                    </mat-option>
                    <mat-option value="2">
                      Quarter Monthly
                    </mat-option>
                    <mat-option value="3">
                      Half Monthly
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddOrganisationClicked(organisation)">
              Add Organisation
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
