<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <!-- Referral Organization -->
    <mat-form-field fxFlex="46">
      <mat-label>Organization</mat-label>
      <input matInput maxlength="10" placeholder="Organization" />
    </mat-form-field>

    <!-- Referral Doctor -->
    <mat-form-field fxFlex="46">
      <mat-label>Physician</mat-label>
      <input matInput maxlength="10" placeholder="Physician" />
    </mat-form-field>
    <!-- Referral file No -->
    <mat-form-field fxFlex="46">
      <mat-label>File No</mat-label>
      <input matInput maxlength="10" placeholder="fileNo" />
    </mat-form-field>
  </form>
</section>

<section>
  <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
  </section>
</section>
