 <section id="application-dashboard-container"class="app-container">
    <section class="first-menu">
      <div class="card grad-blue">
        <img src="assets/images/crm.jpg" />
      </div>
    </section>
  
   
    <section class="second-menu">
      <div class="card grad-not-blue">
        <img src="assets/images/crm.jpg" />
      </div>
    </section>
  
    
    <section class="third-menu">
      <div class="card grad-green">
        <img src="assets/images/crm.jpg" />
      </div>
    </section>
  </section>

     

