<section id="about-us-container">
  <mat-card>
    <!-- Mat Card Title -->
    <mat-card-title>About Us</mat-card-title>

    <!-- Mat Card Content -->
    <mat-card-content>
      <section class="about-us">
        Eastern Biotech & Life Sciences was envisioned in Dubai, United Arab Emirates in year 2007 as a premium company offering its services in field of Medical Diagnosis. 10 Years since its inception it has continued to hold a leading position in Diagnostic Healthcare in UAE (MENA Region). Driven by its policy of continuous adaption of innovative technologies and its stress on exceptional customer service, Eastern Biotech & Life Science has lead to a paradigm shift in diagnostic Industry in MENA region.
        <br> <br>
        Having established itself as a brand, Eastern Biotech & Life Science furthered its portfolio by setting up its own diagnostic laboratory “Eastern Clinical Laboratories” in Al Barsha, Dubai, United Arab Emirates with the vision to offer routine Diagnostic Testing and become a leading referral Laboratory. This established the Eastern Healthcare Group of Companies which included the Eastern Biotech and Eastern Clinical Laboratories. Eastern Clinical Laboratories offers its services through various channels by partnering laboratories, clinics, hospital & independent doctors. Our highly qualified professionals and our rich experience has allowed us to render our services to support Quality and Accreditation processes for existing laboratories and to commission new laboratory projects across Middle East & Africa.
        <br> <br>
        We offer an elaborate list of high end diagnostic and investigative services broadly categorized into Reproductive Genetics; Cancer Genetics; Pharmacogenomics; Molecular Pathology, including Core (routine) Laboratory Testing. Driven by the passion for serving the humanity we strive continuously to implement high-end technology while ensuring quality & affordable priced services are in reach of common people.
        <br> <br>
      </section>
    </mat-card-content>
  </mat-card>
</section>
