<section id="visit-details-information-container">
  <section class="visit-details-information">
    <!-- Patient's Name -->
    <label for="name" class="label">Patient's Name</label>
    <section id="name">Arun Selva Kumar</section>

    <!-- Patient's Date Of Birth -->
    <label for="dob" class="label">Date of Birth (Age)</label>
    <section id="dob">04/ 06/ 1990 (29)</section>

    <!-- Referral Name -->
    <label for="referral-name" class="label">Referral's Name</label>
    <section id="referral-name">Dr. Meraj</section>
  </section>
</section>
