<section id="appointment-details-container">
  <mat-card>
    <mat-card-title>Appointment Details</mat-card-title>
    <mat-card-subtitle>Details for Selected Appointment</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <section class="appointments-wrapper">
        <!-- Appointment Details -->
        <section class="appointment-details">
        <!-- Appointment ID -->
        <section class="sub-title">Appointment ID</section>
        <section>{{ selectedAppointment.appointmentId | uppercase }}</section>

        <!-- Patient Name -->
        <section class="sub-title">Patient Name</section>
        <section>{{ selectedAppointment.patientName | uppercase}}</section>

        <!-- Date Of Birth -->
        <section class="sub-title">Date Of Birth</section>
        <section>{{ selectedAppointment.dob | uppercase}}</section>

        <!-- Gender -->
        <section class="sub-title">Gender</section>
        <section>{{ selectedAppointment.gender | uppercase}}</section>

        <!-- Mobile Number -->
        <section class="sub-title">Mobile Number</section>
        <section>{{ selectedAppointment.mobile }}</section>

        <!-- Phone Number -->
        <section class="sub-title">Phone Number</section>
        <section>{{ selectedAppointment.landline }}</section>

        <!-- Status -->
        <section class="sub-title">Status</section>
        <section *ngIf="selectedAppointment.status">{{ selectedAppointment.status.statusValue | uppercase }}</section>

        <!-- Appointment Schedule (From) -->
        <section class="sub-title">Appointment Schedule (From)</section>
        <section>{{ selectedAppointment.appointmentDateTime | uppercase }}</section>

        <!-- Appointment Schedule (To) -->
        <section class="sub-title">Appointment Schedule (To)</section>
        <section>{{ selectedAppointment.appointmentDateTime }}</section>

        <!-- Comment Details -->
        <section class="sub-title">Comments / Remarks</section>
        <section>{{ selectedAppointment.comments | uppercase}}</section>
      </section>

        <!-- Appointment Illustration -->
        <section class="appointments-illustration">
          <img src="../../../../../assets/images/mat-card-1.png" alt="">
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</section>
