<section id="individual-test-container">
  <mat-card class="individual-test-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Individual Test Master" subTitle="Edit Individual Test" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!--Individual Test Form -->
          <form class="individual-test-form" #test="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Individual Test Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Test Category -->
                <mat-form-field>
                  <mat-label>Test Category</mat-label>
                  <mat-select disableOptionCentering name="testCategoryId" [(ngModel)]="selectedForEdit.testCategory.testCategoryId" #testCategory="ngModel">
                    <mat-option [value]=0>
                      In House
                    </mat-option>
                    <mat-option [value]=1>
                      Outsource
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" [checked]="selectedForEdit.active" [(ngModel)]="selectedForEdit.active" #active="ngModel">Active</mat-slide-toggle>
                </section>

                <!-- Accreditation  Symbol-->
                <mat-form-field>
                  <mat-label>Accreditation Symbol</mat-label>
                  <mat-select disableOptionCentering name="accrediationSymbolId" [(ngModel)]="selectedForEdit.accrediationSymbol.accrediationSymbolId" #accrediationSymbolId="ngModel">
                    <mat-option *ngFor="let options of accrediationSymbols" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Accreditation -->
                <mat-form-field>
                  <mat-label>Accreditation</mat-label>
                  <mat-select disableOptionCentering name="accrediation" [(ngModel)]="selectedForEdit.accrediation" #accrediationId="ngModel">
                    <mat-option [value]=false>
                      No
                    </mat-option>
                    <mat-option [value]=true>
                      Logos
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Test Component -->
                <mat-form-field>
                  <mat-label>Test Component</mat-label>
                  <input
                    matInput
                    placeholder="Test Component"
                    name="individualTestName"
                    required
                    [(ngModel)]="selectedForEdit.testComponent"
                    #individualTestName="ngModel"
                  />
                </mat-form-field>

                <!-- Equipment -->
                <mat-form-field>
                  <mat-label>Equipment</mat-label>
                  <mat-select disableOptionCentering name="equipmentId" [(ngModel)]="selectedForEdit.equipment.equipmentId" #equipmentId="ngModel">
                    <mat-option *ngFor="let options of equipments" [value]="options.equipmentId">{{
                      options.equipmentName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Processing center -->
                <mat-form-field class="mt-n7">
                  <mat-label>Processing center</mat-label>
                  <mat-select disableOptionCentering name="processingCentreId" [(ngModel)]="selectedForEdit.processingCenter.processingCenterId" #processingCentreId="ngModel">
                    <mat-option *ngFor="let options of processingCenter" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Outsource Vendor Code-->
                <mat-form-field>
                  <mat-label>Vendor Code</mat-label>
                  <input
                    matInput
                    placeholder="Outsouce Vendor Code"
                    name="outsourceVendorCode"
                    [(ngModel)]="selectedForEdit.outsourceVendorCode"
                    #outSourceVendorCode="ngModel"
                  />
                </mat-form-field>

                <!-- Method -->
                <mat-form-field>
                  <mat-label>Method</mat-label>
                  <mat-select disableOptionCentering name="methodId" [(ngModel)]="selectedForEdit.method.methodId" #methodId="ngModel">
                    <mat-option *ngFor="let options of methods" [value]="options.methodId">{{
                      options.methodName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Unit-->
                <mat-form-field>
                  <mat-label>Unit</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="selectedForEdit.unit.unitId" name="unitId" #unitId="ngModel">
                    <mat-option *ngFor="let options of units" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Integration Code -->
                <mat-form-field>
                  <mat-label>Integration Code</mat-label>
                  <input
                    matInput
                    placeholder="Integration Code"
                    name="integrationCode"
                    [(ngModel)]="selectedForEdit.integrationCode"
                    #integrationCode="ngModel"
                  />
                </mat-form-field>

                <!-- CPT Amount -->
                <mat-form-field>
                  <mat-label>CPT Amount</mat-label>
                  <input matInput placeholder="CPT Amount" name="cptAmount" [(ngModel)]="selectedForEdit.cptAmount" #cptAmount="ngModel" />
                </mat-form-field>

                <!-- TAT -->
                <section class="tat">
                  <mat-label style="margin-top:20px;">TAT</mat-label>
                  <mat-form-field style="width: 50px;">
                    <input matInput placeholder="Days" name="tatDays" required [(ngModel)]="selectedForEdit.tatDays" #tatDays="ngModel" />
                  </mat-form-field>
                  <mat-form-field style="width: 50px;">
                    <input matInput placeholder="Hours" name="tatHours" required [(ngModel)]="selectedForEdit.tatHours" #tatHours="ngModel" />
                  </mat-form-field>
                  <mat-form-field style="width: 80px;">
                    <input matInput placeholder="Minutes" name="tatMinutes" required [(ngModel)]="selectedForEdit.tatMinutes" #tatMinutes="ngModel" />
                  </mat-form-field>
                </section>

                <!-- Comments -->
                <mat-form-field>
                  <mat-label>Comments</mat-label>
                  <input matInput placeholder="Comments" name="comments" [(ngModel)]="selectedForEdit.comments" #comments="ngModel" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onEditIndividualTestClicked(test)">
              Save Changes
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
