<section class="operations-home-container">
  <section class="operations-highlights">
    <section class="pending-accession-wrapper">
      <div class="card grad-blue">
        <div class="title">Pending Accession</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-check fa-3x align-self-center"></i>
            <div class="number align-self-center">190</div>
          </div>
        </div>
      </div>
    </section>

    <section class="pending-waiting-list-wrapper">
      <div class="card grad-not-blue">
        <div class="title">Pending Waiting List</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-th-list fa-3x align-self-center"></i>
            <div class="number align-self-center">190</div>
          </div>
        </div>
      </div>
    </section>

    <section class="pending-authorization-wrapper">
      <div class="card grad-green">
        <div class="title">Pending Authorization</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-clock-o fa-3x align-self-center"></i>
            <div class="number align-self-center">190</div>
          </div>
        </div>
      </div>
    </section>

    <section class="completed-reports-wrapper">
      <div class="card grad-orange">
        <div class="title">Completed Reports</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-files-o fa-3x align-self-center"></i>
            <div class="number align-self-center">190</div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="operations-stat-samples">
    <mat-card>
      <mat-card-title>
        STAT Samples
      </mat-card-title>
      <mat-card-subtitle>
        STAT Sample List
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <app-stat-samples></app-stat-samples>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="operations-sample-char">
    <mat-card>
      <mat-card-title>
        Department Wise Samples
      </mat-card-title>
      <mat-card-subtitle>
        Department Wise Sample List
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <app-sample-chart></app-sample-chart>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="operations-cases">
    <mat-card>
      <mat-card-title>
        Cases
      </mat-card-title>

      <mat-card-subtitle>
        Case List
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <app-cases></app-cases>
      </mat-card-content>
    </mat-card>
  </section>
</section>
