.operations-home-container {
  section {
    display: grid;
  }
  .operations-highlights {
    grid-template-areas: 'accession     waiting-list      authorization     reports';
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .pending-accession-wrapper {
      grid-area: accession;
    }

    .pending-waiting-list-wrapper {
      grid-area: waiting-list;
    }

    .pending-authorization-wrapper {
      grid-area: authorization;
    }

    .completed-reports-wrapper {
      grid-area: reports;
    }
  }

  @media only screen and (max-width: 700px) {
    .operations-highlights {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'accession                 waiting-list'
        'authorization             reports';
    }
  }
}
