<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <!-- Referral Organization -->
    <mat-form-field fxFlex="46">
      <mat-label>Address</mat-label>
      <input matInput maxlength="10" placeholder="Address" />
    </mat-form-field>

    <!-- Referral Doctor -->
    <mat-form-field fxFlex="46">
      <mat-label>P.O.Box</mat-label>
      <input matInput maxlength="10" placeholder="P.O.Box" />
    </mat-form-field>
    <!-- Area -->
    <mat-form-field fxFlex="46">
        <mat-label>Area</mat-label>
        <mat-select disableOptionCentering>
          <mat-option>Area 1</mat-option>
          <mat-option>Area 2</mat-option>
          <mat-option>Area 3</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- City -->
      <mat-form-field fxFlex="46">
        <mat-label>City</mat-label>
        <mat-select disableOptionCentering>
          <mat-option>City 1</mat-option>
          <mat-option>City 2</mat-option>
          <mat-option>City 3</mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Country -->
      <mat-form-field fxFlex="46">
        <mat-label>Country</mat-label>
        <mat-select disableOptionCentering>
          <mat-option>Country 1</mat-option>
          <mat-option>Country 2</mat-option>
          <mat-option>Country 3</mat-option>
        </mat-select>
      </mat-form-field>
  </form>
</section>

<section>
  <!-- <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
  </section> -->
</section>
