<section id="update-operations-container">
  <h6>Patient Information</h6>
  <mat-divider></mat-divider>
  <section class="patient-information-container">
    <!-- Patient Name -->
    <section class="sub-title">Patient Name</section>
    <section>Arun Selva Kumar</section>

    <!-- Patient Date of Birth -->
    <section class="sub-title">Date Of Birth</section>
    <section>June 04, 1990</section>

    <!-- Referral Organization -->
    <section class="sub-title">Referral Organization</section>
    <section>HOUSTON CLINIC</section>

    <!-- Referral Doctor -->
    <section class="sub-title">Referral Doctor</section>
    <section>AMRUTHA SANDEEP</section>

    <!-- Sample ID -->
    <section class="sub-title">Sample ID</section>
    <section>419101541</section>

    <!-- Sample ID -->
    <section class="sub-title">Accession Date</section>
    <section>31st, Oct 19</section>

    <!-- Sample ID -->
    <section class="sub-title">Reporting On</section>
    <section>2nd, Nov 19</section>
  </section>

  <h6>Tests Information</h6>
  <mat-divider></mat-divider>
  <section class="tests-information-container">
    <!-- Header -->
    <section>Test Name</section>
    <section>Value</section>
    <section>Unit</section>

    <!-- Values -->
    <section class="sub-title pt-14">GLUCOSE, RANDOM 1 (R)</section>
    <section>
      <mat-form-field>
        <input type="text" matInput />
      </mat-form-field>
    </section>
    <section class="sub-title pt-14">mg/dL</section>

    <section class="sub-title pt-14">GLUCOSE, RANDOM 2 (R)</section>
    <section>
      <mat-form-field>
        <input type="text" matInput />
      </mat-form-field>
    </section>
    <section class="sub-title pt-14">mg/dL</section>

    <section class="sub-title pt-14">GLUCOSE, RANDOM 3 (R)</section>
    <section>
      <mat-form-field>
        <input type="text" matInput />
      </mat-form-field>
    </section>
    <section class="sub-title pt-14">mg/dL</section>
  </section>
</section>

<section>
  <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2">Close</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2">Save</button>
  </section>
</section>
