<section id="department-container">
    <mat-card class="organisation-mat-card">
      <!--  Dialog Caption -->
      <section>
        <app-dialog-caption title="Departments" subTitle="Edit Department" icon="fa-calendar"> </app-dialog-caption>
      </section>
  
      <!-- Dialog Content -->
      <section>
        <!-- Mat Card Header -->
        <app-mat-dialog-header></app-mat-dialog-header>
  
        <!-- Mat Card Content -->
        <mat-dialog-content class="outsource-dialog">
          <section>
            <!-- Outsource Management Form -->
            <form class="department-form">
              <!-- Basic Information -->
              <section class="basic-wrapper">
                <!-- Header -->
                <app-section-header title="Basic Information"></app-section-header>
  
                <!-- Content -->
                <section class="basic-content">
                  <!-- Select Department -->
                  <mat-form-field>
                    <mat-label>Select Department</mat-label>
                    <input matInput placeholder="Select Department" />
                  </mat-form-field>
  
                  <!-- Department Name -->
                  <mat-form-field>
                    <mat-label>Department Name</mat-label>
                    <input matInput placeholder="Department Name" />
                  </mat-form-field>
  
                  <!-- Department Type -->
                  <mat-form-field>
                    <mat-label>Department Type</mat-label>
                    <input matInput placeholder="Department Type" />
                  </mat-form-field>
  
                  <!-- Doctor Name -->
                  <mat-form-field>
                    <mat-label>Doctor Name</mat-label>
                    <input matInput placeholder="Doctor Name" />
                  </mat-form-field>
                </section>
              </section>
            </form>
  
            <section class="action-buttons-wrapper">
              <button mat-button color="primary" matDialogClose>Clear</button>
              <button mat-raised-button color="primary" cdkFocusInitial (click)="editDepartment()">Save Changes</button>
            </section>
          </section>
        </mat-dialog-content>
      </section>
    </mat-card>
  </section>
  