.actions-wrapper {
    display: flex;
    justify-content: flex-end;
  
    button {
      padding: 0;
      line-height: 1;
      min-width: 32px;
    }
  
    .edit-button {
      visibility: hidden;
    }
  
    .delete-button {
      visibility: hidden;
    }
  
    .action-button {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  
  .mat-row:hover {
    background: whitesmoke;
    cursor: pointer;
  
    .edit-button {
      visibility: visible;
    }
  
    .delete-button {
      visibility: visible;
    }
  }
  