<section id="add-reference-range-container">
  <mat-card>
    <!-- Mat Card Header -->
    <app-mat-dialog-header
      title="Add Reference Range"
      subTitle="Add Reference Range with Individual Test"
    ></app-mat-dialog-header>
    <mat-divider></mat-divider>
    <mat-dialog-content class="add-reference-dialog">
      <section>
        <mat-horizontal-stepper>
          <mat-step>
            <!-- Normal Reference Range -->
            <form autocomplete="off">
              <ng-template matStepLabel>Normal Range</ng-template>

              <section class="normal-reference-range-container">
                <!-- Individual Test Id -->
                <mat-form-field *ngIf="testId" >
                  <mat-label>Individual Test ID</mat-label>
                  <input matInput placeholder="Test ID" [(ngModel)]="testId" name="testId" disabled/>
                </mat-form-field>

                <!-- Individual Test Name -->
                <mat-form-field *ngIf="!testId" class="mt-n7">
                  <mat-label>Individual Test Name</mat-label>
                  <mat-select disableOptionCentering placeholder="Individual Test Name">
                    <mat-option></mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Male Reference Range -->
                <section class="minimum-maximum-ranges">
                  <mat-label class="mt-16">Male Range</mat-label>
                  <mat-form-field>
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Minimum" />
                  </mat-form-field>

                  <!-- Maximum -->
                  <mat-form-field>
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Email" />
                  </mat-form-field>
                </section>

                <!-- female reference Range -->
                <section class="minimum-maximum-ranges">
                  <mat-label class="mt-16">Female Range</mat-label>
                  <mat-form-field>
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Minimum" />
                  </mat-form-field>

                  <!-- Maximum -->
                  <mat-form-field>
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Maximum" />
                  </mat-form-field>
                </section>
              </section>
            </form>

            <!-- Buttons Container -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" [matDialogClose]>Close</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </section>
          </mat-step>

          <mat-step>
            <!-- Descriptive Range Information -->
            <form autocomplete="off">
              <ng-template matStepLabel>Descriptive Range</ng-template>
              <section class="comment-wrapper">
                <!-- Male Range -->
                <mat-label>Male Range</mat-label>
                <ckeditor [config]="editorConfig" debounce="500"></ckeditor>

                <!-- Female Range-->
                <mat-label>Female Range</mat-label>
                <ckeditor [config]="editorConfig" debounce="500"></ckeditor>

                <!-- No Range-->
                <mat-label>No Range</mat-label>
                <ckeditor [config]="editorConfig" debounce="500"></ckeditor>
              </section>
            </form>

            <!-- Buttons Container -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </section>
          </mat-step>
          <mat-step>
            <!-- Critical Reference Range -->
            <form autocomplete="off">
              <ng-template matStepLabel>Critical Range</ng-template>

              <section class="critical-reference-range-container">
                <!-- Male Reference Range -->
                <section class="minimum-maximum-ranges">
                  <mat-label class="mt-16">Male Range</mat-label>
                  <mat-form-field>
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Minimum" />
                  </mat-form-field>

                  <!-- Maximum -->
                  <mat-form-field>
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Email" />
                  </mat-form-field>
                </section>

                <!-- female reference Range -->
                <section class="minimum-maximum-ranges">
                  <mat-label class="mt-16">Female Range</mat-label>
                  <mat-form-field>
                    <mat-label>Minimum</mat-label>
                    <input matInput placeholder="Minimum" />
                  </mat-form-field>

                  <!-- Maximum -->
                  <mat-form-field>
                    <mat-label>Maximum</mat-label>
                    <input matInput placeholder="Maximum" />
                  </mat-form-field>
                </section>
              </section>
            </form>

            <!-- Buttons Container -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" [matDialogClose]>Close</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </section>
          </mat-step>

          <mat-step>
            <!-- Age Specific Information -->
            <form autocomplete="off">
              <ng-template matStepLabel>Age Specific Range</ng-template>
              <section class="age-specific-information-container">
                <!-- Age Range -->
                <mat-form-field class="mt-n7">
                  <mat-label>Age Range</mat-label>
                  <mat-select disableOptionCentering placeholder="Age Range">
                    <mat-option value="Age Range (in Days)">Age Range (in Days)</mat-option>
                    <mat-option value="Age Range (in Months)">Age Range (in Months)</mat-option>
                    <mat-option value="Age Range (in Years)">Age Range (in Years)</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Age Range -->
                <section class="minimum-maximum-ranges">
                  <mat-label class="mt-16">Age Range</mat-label>
                  <mat-form-field>
                    <mat-label>Lower Age</mat-label>
                    <input matInput placeholder="Lower Age" />
                  </mat-form-field>

                  <!-- Maximum -->
                  <mat-form-field>
                    <mat-label>upper Age</mat-label>
                    <input matInput placeholder="Upper Age" />
                  </mat-form-field>
                </section>

                <!-- Select Age Range Here -->
                <mat-form-field class="mt-n7">
                  <mat-label>Select Age Range Here</mat-label>
                  <mat-select disableOptionCentering placeholder="Select Age Range Here">
                    <mat-option></mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </form>
            <!-- Buttons Container -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </section>
          </mat-step>

          <mat-step>
            <!-- Files & Graph Information -->
            <form autocomplete="off">
              <ng-template matStepLabel>File & Graph</ng-template>
              <section class="file-graph-information-container">
                <!-- Horizontal Position -->
                <mat-form-field>
                  <mat-label>Horizontal Position</mat-label>
                  <input matInput placeholder="Horizontal Position" />
                </mat-form-field>

                <!-- Vertical Position -->
                <mat-form-field>
                  <mat-label>Vertical Position</mat-label>
                  <input matInput placeholder="Vertical Position" />
                </mat-form-field>
                <!-- Graph Width -->
                <mat-form-field>
                  <mat-label>Graph Width</mat-label>
                  <input matInput placeholder="Graph Width" />
                </mat-form-field>

                <!-- Graph Height -->
                <mat-form-field>
                  <mat-label>Graph Height</mat-label>
                  <input matInput placeholder="Graph Height" />
                </mat-form-field>

                <!-- Graph Label -->
                <mat-form-field>
                  <mat-label>Graph Label</mat-label>
                  <input matInput placeholder="Graph Label" />
                </mat-form-field>

                <!-- Minimum Horizontal Value -->
                <mat-form-field>
                  <mat-label>Minimum Horizontal Value</mat-label>
                  <input matInput placeholder="Minimum Horizontal Value" />
                </mat-form-field>

                <!-- Maximum Horizontal Value -->
                <mat-form-field>
                  <mat-label>Maximum Horizontal Value</mat-label>
                  <input matInput placeholder="Maximum Horizontal Value" />
                </mat-form-field>

                <!-- Minimum Vertical Value -->
                <mat-form-field>
                  <mat-label>Minimum Vertical Value</mat-label>
                  <input matInput placeholder="Minimum Vertical Value" />
                </mat-form-field>

                <!-- Maximum Vertical Value -->
                <mat-form-field>
                  <mat-label>Maximum Vertical Value</mat-label>
                  <input matInput placeholder="Maximum Vertical Value" />
                </mat-form-field>
              </section>
            </form>
            <!-- Buttons Container -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </section>
          </mat-step>

          <mat-step>
            <!-- List of Values -->
            <form autocomplete="off">
              <ng-template matStepLabel>List of Values</ng-template>
              <section class="list-of-values-information-container">
                <!--Enter Values -->
                <mat-form-field>
                  <mat-label>Enter Values</mat-label>
                  <input matInput placeholder="Enter Values" />
                </mat-form-field>

                <section class="pl-100">
                  <!-- Enter Values -->
                  <button mat-raised-button class="mr-16" color="primary">Add</button>
                  <button mat-raised-button class="mr-0" color="warn">Delete</button>
                </section>
              </section>
              <!-- Added Values  -->
              <mat-form-field class="comment-wrapper">
                <mat-label>Values</mat-label>
                <mat-select disableOptionCentering placeholder="Values">
                  <mat-option></mat-option>
                </mat-select>
              </mat-form-field>
            </form>
            <!-- Dialog Actions -->
            <section class="action-buttons-container">
              <button mat-button color="primary" class="mr-48" [matDialogClose]>Close</button>
              <button mat-raised-button color="primary">
                Add Reference Range(s)
              </button>
            </section>
          </mat-step>
        </mat-horizontal-stepper>
      </section>
    </mat-dialog-content>
  </mat-card>
</section>
