#add-reference-range-container {
  .user-details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;

    .pt-13 {
      padding-top: 13px;
    }
  }
  
  .add-reference-dialog {
    margin: auto;
  }
  .normal-reference-range-container {
    @extend .user-details-container;
  }

  .minimum-maximum-ranges {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;

    .pt-13 {
      padding-top: 13px;
    }
  }

  .age-specific-information-container {
    @extend .user-details-container;
  }

  .file-graph-information-container {
    @extend .user-details-container;
  }

  .list-of-values-information-container {
    @extend .user-details-container;
  }

  .critical-reference-range-container {
    @extend .user-details-container;
  }

  .comment-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .action-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 12px 0px;

    .mr-48 {
      margin-right: 48px;
    }
  }

  .mt-16 {
    margin-top: 16px;
  }

  .pl-100 {
    padding-left: 100px;
  }

  .mr-16 {
    margin-right: 16px;
  }

  .mr-0 {
    margin-right: 0px;
  }
}
