<section id="send-message-container">
  <mat-card>
    <!-- Mat Card Title -->
    <mat-card-title>Send Us a Message</mat-card-title>
    <mat-card-content>
      <section class="contact-us-form-wrapper">
        <section class="contact-us-form">
        <!-- Full Name -->
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input type="text" matInput placeholder="Full Name"/>
        </mat-form-field>

        <!-- Email Address -->
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input type="text" matInput placeholder="Email Address"/>
        </mat-form-field>

        <!-- Phone Number -->
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="text" matInput placeholder="Phone Number"/>
        </mat-form-field>

        <!-- Message -->
        <mat-form-field>
          <mat-label>Message</mat-label>
          <input type="text" matInput placeholder="Message"/>
        </mat-form-field>
      </section>
        <section>
          <img src="https://cdn.dribbble.com/users/3618930/screenshots/6605530/g3_9_4x.jpg" alt="">
        </section>
      </section>
      <section class="action-buttons">
        <button mat-raised-button color="primary">Submit</button>
      </section>
    </mat-card-content>
  </mat-card>
</section>
