.red-circle {
  color: #FF0000;
}

.blue-circle {
  color: blue;
}

.blue-violet {
  color: blueviolet;
}

.cadet-blue {
  color: cadetblue;
}

.forest-green {
  color: forestgreen;
}

.container-label {
  margin-left: 18px;
}
