
<section>
    <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
      <!-- Referral Organization -->
      <mat-form-field fxFlex="46">
        <mat-label>clinical History</mat-label>
        <textarea  matInput maxlength="10" placeholder="clinical History" class="uppercase"></textarea>
      </mat-form-field>
      <!-- Prescription -->
      <section class="prescript">
        Prescription 
        <button mat-button color="primary">
          Upload
        </button>
      </section>
    </form>
  </section>
  
  <section>
    <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
      <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
    </section>
  </section>
  