<section id="tests-information-container">
  <section class="mat-card-title-container">
    <section>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Search for Test(s)" [(ngModel)]="searchQuery" />
        <button mat-button matSuffix mat-icon-button (click)="onSearchButtonClicked()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </section>
  </section>
  <mat-divider></mat-divider>
  <app-link-test [linkedTests]="linkedTests" showDeleteIcon="true"></app-link-test>

  <!-- No Linked Record(s) Message -->
  <section fxLayout fxLayoutAlign="center center" class="mat-card-subtitle mt-3 mb-3" *ngIf="!linkedTests">
    No Linked Tests
  </section>
</section>
<section>
  <!-- <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
  </section> -->
</section>
