<section id="tests-information-container">
  <section class="mat-card-title-container">
    <section>
      <mat-form-field  class="full-width">
        <input matInput type="text" (keyup)="searchQuery($event)" placeholder="Search for Tests" [matAutocomplete]="search" />
        <mat-autocomplete #search="matAutocomplete">
          <mat-option *ngFor="let element of selectedCombinedTests" (click)="selectedAutoComplete(element)">
            {{ element.testName }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </section>
  </section>
  <mat-divider></mat-divider>
  <app-link-test [linkedTests]="combinedTestData" showDeleteIcon="true"></app-link-test>

  <!-- No Linked Record(s) Message -->
  <section fxLayout fxLayoutAlign="center center" class="mat-card-subtitle mt-3 mb-3" *ngIf="!combinedTestData">
    No Linked Tests
  </section>
</section>
<section>
  <!-- <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
  </section> -->
</section>
