<section id="doctor-container">
  <mat-card class="doctor-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Home Collections" subTitle="Add Home collection" icon="fa-calendar"> </app-dialog-caption>
    </section>
    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>
      <!-- Mat Card Content -->
      <mat-dialog-content class="doctor-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="doctor-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Demographics"></app-section-header>
              <!-- Content -->
              <section class="basic-content">
            <!-- Patient Name -->
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" class="uppercase" />
            </mat-form-field>
            <!-- DOB -->
            <mat-form-field>
              <mat-label>DOB</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- Gender -->
            <section class="pt-13">
              <label for="gender">Gender</label>
              <mat-radio-group id="gender" name="gender" label="Gender">
                <mat-radio-button value="1" class="ml-2">MALE</mat-radio-button>
                <mat-radio-button value="2" class="ml-2">FEMALE</mat-radio-button>
              </mat-radio-group>
            </section>
            <!-- Landline -->
            <mat-form-field>
              <mat-label>Landline</mat-label>
              <input matInput class="uppercase" placeholder="Landline" />
            </mat-form-field>
            <!-- Mobile Number -->
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput class="uppercase" placeholder="Phone Number" />
            </mat-form-field>
            <!-- Email ID -->
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" />
            </mat-form-field>
              </section>
            </section>
                <!-- Address Information -->
            <section class="address-information-wrapper">
              <!-- Header -->
              <app-section-header title="Address Information"></app-section-header>
              <!-- Content -->
              <section class="address-information-content">
                <!-- Postal Code -->
                <mat-form-field>
                  <mat-label>P.O.Box</mat-label>
                  <input matInput maxlength="10" placeholder="P.O.Box" class="uppercase" />
                </mat-form-field>
                <!-- Area -->
                <mat-form-field class="mt-n7">
                  <mat-label>Area</mat-label>
                  <input matInput placeholder="Area" class="uppercase" />
                </mat-form-field>
                <!-- City -->
                <mat-form-field>
                  <mat-label>City</mat-label>
                  <mat-select disableOptionCentering placeholder="City">
                    <mat-option></mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- Country -->
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <mat-select disableOptionCentering placeholder="Country">
                    <mat-option></mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Login & Access -->
            <section class="user-credentials-information-wrapper">
              <!-- Header -->
              <app-section-header title="Referral Information"></app-section-header>
              <!-- Content -->
              <section class="user-credentials-content">
                <!-- Referral Organization -->
                <mat-form-field>
                  <mat-label> Organization</mat-label>
                  <input matInput placeholder="Organization" class="uppercase" />
                </mat-form-field>
                <!-- Referral Doctor -->
                <mat-form-field>
                  <mat-label>Physician</mat-label>
                  <input matInput placeholder="Physician" class="uppercase" />
                </mat-form-field>
              </section>
            </section>
            <section class="user-credentials-information-wrapper">
              <!-- Header -->
              <app-section-header title="Collection Information"></app-section-header>
              <!-- Content -->
              <section class="user-credentials-content">
                <mat-form-field>
                  <input
                    matInput
                    class="uppercase"
                    placeholder="Scheduled Date and Time"
                    [owlDateTimeTrigger]="Scheduled"
                    [owlDateTime]="Scheduled"
                  />
                  <owl-date-time #Scheduled></owl-date-time>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Comment</mat-label>
                  <input matInput maxlength="100" class="uppercase" placeholder="Enter Comment (Optional)" />
                </mat-form-field>
              </section>
            </section>

            <section class="user-credentials-information-wrapper">
              <!-- Header -->
              <app-section-header title="Office Use"></app-section-header>
              <!-- Content -->
              <section class="user-credentials-content">
                <mat-form-field>
                  <mat-label>Assigned Driver</mat-label>
                  <input matInput placeholder="Assigned Driver" class="uppercase" />
                </mat-form-field>
                <!-- Assigned Phlebotomist -->
                <mat-form-field>
                  <mat-label> Assigned Phlebotomist</mat-label>
                  <input matInput placeholder=" Assigned Phlebotomist" class="uppercase" />
                </mat-form-field>
              </section>
            </section>
          </form>
          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial>Add Home Collection</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
