<section id="equipment-container">
  <mat-card class="equipment-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="equipment" subTitle="Edits the equipment " icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="equipment-dialog">
        <section>
          <!-- equipment  Form -->
          <form class="equipment-form" #equipment="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">

                 <!-- Asset Name -->
                <mat-form-field>
                  <mat-label>Asset Name</mat-label>
                  <input matInput placeholder="Asset Name" name="assetName" class="uppercase" ngModel #assetName="ngModel" required />
                </mat-form-field> 

                
                
                <!-- Asset Id -->
                <mat-form-field>
                  <mat-label>Asset Id</mat-label>
                  <input matInput placeholder="Asset Id" name="assetId" class="uppercase" ngModel #assetId="ngModel" required />
                </mat-form-field>

                 <!-- Brand -->
                 <mat-form-field>
                  <mat-label>Brand</mat-label>
                  <input matInput placeholder="Brand" name="Brand" class="uppercase" ngModel #Brand="ngModel" required />
                </mat-form-field>
                
                <!-- Puchase Date -->
                <mat-form-field>
                  <mat-label>Puchase Date</mat-label>
                  <input matInput placeholder="Puchase Date" name="puchaseDate" class="uppercase" ngModel #puchaseDate="ngModel" required/>
                </mat-form-field>

                <!-- Interface Type -->
                <mat-form-field>
                  <mat-label>Interface Type</mat-label>
                  <mat-select disableOptionCentering name="interfaceType" ngModel #interfaceType="ngModel">
                    <mat-option value="1">
                      YES
                    </mat-option>
                    <mat-option value="2">
                      NO
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Analysed -->
                <mat-form-field>
                  <mat-label>Analysed</mat-label>
                  <mat-select disableOptionCentering name="analysed" ngModel #analysed="ngModel">
                    <mat-option value="1">
                      YES
                    </mat-option>
                    <mat-option value="2">
                      NO
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!--Manufacturer Model -->
                <mat-form-field>
                  <mat-label>Manufacturer Model</mat-label>
                  <input matInput placeholder="Manufacturer Model" name="manufacturerModel" class="uppercase" ngModel #manufacturerModel="ngModel" required />
                </mat-form-field>

                <!-- Serial No -->
                <mat-form-field>
                  <mat-label>Serial No</mat-label>
                  <input matInput placeholder="Serial No" name="serialNo" class="uppercase" ngModel #serialNo="ngModel" required/>
                </mat-form-field>

                <!--Supplier -->
                <mat-form-field>
                  <mat-label>Supplier</mat-label>
                  <input matInput placeholder="Supplier" name="supplier" class="uppercase" ngModel #supplier="ngModel" required />
                </mat-form-field>

                <!--Condition -->
                <mat-form-field>
                  <mat-label>Condition</mat-label>
                  <input matInput placeholder="Condition" name="condition" class="uppercase" ngModel #condition="ngModel" required />
                </mat-form-field>

                <!--Warranty -->
                <mat-form-field>
                  <mat-label>Warranty</mat-label>
                  <input matInput placeholder="Warranty" name="warranty" class="uppercase" ngModel #warranty="ngModel" required />
                </mat-form-field>

                <!--Depreciation -->
                <mat-form-field>
                  <mat-label>Depreciation</mat-label>
                  <input matInput placeholder="Depreciation" name="depreciation" class="uppercase" ngModel #depreciation="ngModel" required />
                </mat-form-field>

                <!--Value -->
                <mat-form-field>
                  <mat-label>Value</mat-label>
                  <input matInput placeholder="Value" name="value" class="uppercase" ngModel #value="ngModel" required />
                </mat-form-field>

                

                <!--Location -->
                <mat-form-field>
                  <mat-label>Location</mat-label>
                  <input matInput placeholder="Location" name="loccation" class="uppercase" ngModel #loccation="ngModel" required />
                </mat-form-field>


                <!--Description -->
                <mat-form-field >
                  <mat-label>Description</mat-label>
                  <textarea  matInput maxlength="10" placeholder="Description" name="description" class="uppercase" ngModel #description="ngModel" required  ></textarea>
                </mat-form-field>

                
                <section class="label" >Picture  <button mat-button color="primary">
                  Upload
                </button></section>

                
        
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onEditEquipmentClicked(equipment)">Save Change(s)</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
