#waiting-list-table-container {
  $status-card-background: #4a90e2;
  $status-card-color: #ffffff;

  table {
    .status-card {
      border: $status-card-background 1px solid;
      border-radius: 4px;

      background: $status-card-background;
      color: $status-card-color;

      text-align: center;
      padding: 0 6px;
    }

    .actions-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 0;
        line-height: 1;
        min-width: 32px;
      }

      .edit-button {
        visibility: hidden;
      }

      .action-button {
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .mat-row:hover {
      cursor: pointer;

      .edit-button {
        visibility: visible;
      }
    }
  }
}
