$status-card-background: #4a90e2;
$status-card-color: #ffffff;

.status-card {
  border: $status-card-background 1px solid;
  border-radius: 4px;

  background: $status-card-background;
  color: $status-card-color;

  text-align: center;
  padding: 0 6px;
}