<section>
  <section class="uploads-container">
    <section class="label">Test Request Form</section>
    <section>
      <button mat-button color="primary">
        Upload
      </button>
    </section>
    <section class="label">Photo</section>
    <section>
      <button mat-button color="primary">
        Upload
      </button>
    </section>
    <section class="label">Emirates ID</section>
    <section>
      <button mat-button color="primary">
        Upload
      </button>
    </section>
    <section class="label">Insurance ID</section>
    <section>
      <button mat-button color="primary">
        Upload
      </button>
    </section>
    <section class="label">Driving License</section>
    <section>
      <button mat-button color="primary">
        Upload
      </button>
    </section>
  </section>

  <section>
    <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
      <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="ml-2 mr-2">Register</button>
    </section>
  </section>
</section>
