<section id="brochures-container">
    <mat-card>
        <!-- Mat Card Header -->
        <mat-card-header>
            <mat-card-title>Brochures</mat-card-title>
            <mat-card-subtitle>View & Download Brochures</mat-card-subtitle>
        </mat-card-header>
        
        <!-- Mat Divider -->
        <mat-divider></mat-divider>

        <!-- Mat Card Content -->
        <mat-card-content>
            <section class="text-center sub-title">
                No Brochures Available
            </section>
        </mat-card-content>
    </mat-card>
</section>