<section id="outsource-management-container">
  <mat-card class="outsource-management-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Outsource Management" subTitle="Add a Outsource Lab" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="outsource-management-form" #outsource="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Lab Name -->
                <mat-form-field>
                  <mat-label>Lab Name</mat-label>
                  <input
                    matInput
                    placeholder="Lab Name"
                    class="uppercase"
                    name="labName"
                    #labName="ngModel"
                    pattern="[a-zA-Z]*"
                    required
                    [(ngModel)]="outsource.labName"
                  />
                  <mat-error *ngIf="labName.invalid && (labName.dirty || labName.touched)">
                    <mat-error *ngIf="labName.errors.required">Lab Name is required</mat-error>
                    <mat-error *ngIf="labName.errors?.pattern">text is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Web -->
                <mat-form-field>
                  <mat-label>Web</mat-label>
                  <input matInput placeholder="Web" class="uppercase" name="web" [(ngModel)]="outsource.web" />
                </mat-form-field>

                <!-- Telephone -->
                <mat-form-field>
                  <mat-label>Telephone</mat-label>
                  <input
                    matInput
                    placeholder="Telephone"
                    required
                    name="telephone"
                    #telephone="ngModel"
                    pattern="[0-9]*"
                    [(ngModel)]="outsource.telephone"
                  />
                  <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
                    <mat-error *ngIf="telephone.errors.required">telephone is required</mat-error>
                    <mat-error *ngIf="telephone.errors?.pattern">number is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Fax -->
                <mat-form-field>
                  <mat-label>Fax</mat-label>
                  <input matInput placeholder="Fax" name="fax" [(ngModel)]="outsource.fax" />
                </mat-form-field>

                <!-- Relation -->
                <mat-form-field >
                  <mat-label>Relation</mat-label>
                  <mat-select disableOptionCentering name="relation" [(ngModel)]="outsource.relation">
                    <mat-option value="1">
                      Intra
                    </mat-option>
                    <mat-option value="2">
                      Inter
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Interfacing Type -->
                <mat-form-field>
                  <mat-label>Interfacing Type</mat-label>
                  <mat-select disableOptionCentering name="interfacingType" [(ngModel)]="outsource.interfacingType">
                    <mat-option value="uni">
                      Unidirectional
                    </mat-option>
                    <mat-option value="bi">
                      Bidirectional
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Address Information -->
            <section class="address-information-wrapper">
              <!-- Header -->
              <app-section-header title="Address Information"></app-section-header>

              <!-- Content -->
              <section class="address-information-content">
                <!-- Address Mode -->

                <!-- Address -->
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <textarea
                    matInput
                    placeholder="Address"
                    class="uppercase"
                    #address="ngModel"
                    name="address"
                    required
                    [(ngModel)]="outsource.address"
                  ></textarea>
                  <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                    <mat-error *ngIf="address.errors.required">Address is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- P.O.Box -->
                <mat-form-field>
                  <mat-label>P.O.Box</mat-label>
                  <input matInput placeholder="P.O.Box" name="postBox" required [(ngModel)]="outsource.poNumber" />
                </mat-form-field>

                <!-- City-->
                <mat-form-field class="mt-n7">
                  <mat-label>City</mat-label>
                  <mat-select disableOptionCenteringn name="city" [(ngModel)]="outsource.city">
                    <mat-option *ngFor="let options of regions" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field class="mt-n7">
                  <mat-label>Country</mat-label>
                  <mat-select disableOptionCentering name="country" [(ngModel)]="outsource.country">
                    <mat-option *ngFor="let options of countries" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Contact person -->
            <section class="contactperson-information-wrapper">
              <!-- Header -->
              <app-section-header title="Contact  Information"></app-section-header>
              <!-- Content -->
              <ng-container *ngFor="let contact of contactPersonList; let i = index">
                <section class="contactperson-information-content">
                  <!-- Contact person Mode -->

                  <!-- Designation  -->
                  <mat-form-field>
                    <mat-label>Designation</mat-label>
                    <input
                      matInput
                      placeholder="Designation"
                      class="uppercase"
                      name="designation{{i}}"
                      required
                      [(ngModel)]="contact.designation"
                    />
                  </mat-form-field>

                  <!-- Contact Person Name  -->
                  <mat-form-field>
                    <mat-label>Contact Person Name</mat-label>
                    <input
                      matInput
                      class="uppercase"
                      placeholder="Contact Person Name"
                      name="contactPersonName{{i}}"
                      required
                      [(ngModel)]="contact.contactPersonName"
                    />
                  </mat-form-field>

                  <!-- Mobile -->
                  <mat-form-field>
                    <mat-label>Mobile</mat-label>
                    <input
                      matInput
                      placeholder="Mobile"
                      name="mobile{{i}}"
                      #mobile="ngModel"
                      pattern="[0-9]*"
                      required
                      [(ngModel)]="contact.mobile"
                    />
                    <mat-error *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                      <mat-error *ngIf="mobile.errors.required">Mobile is required</mat-error>
                      <mat-error *ngIf="mobile.errors?.pattern">number is required</mat-error>
                    </mat-error>
                  </mat-form-field>

                  <!-- Email -->
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input
                      matInput
                      placeholder="Email"
                      name="email{{i}}"
                      #email="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                      required
                      [(ngModel)]="contact.email"
                    />
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                      <mat-error *ngIf="email.errors.required">Email is required</mat-error>
                      <mat-error *ngIf="email.errors?.pattern">abc@gmail.com format is required</mat-error>
                    </mat-error>
                  </mat-form-field>
                </section>

                <section class="cancel-contact-section">
                  <button mat-raised-button color="primary" (click)="cancelContact(contact)">
                    <mat-icon aria-hidden="false" aria-label="Delete Contact">delete_forever</mat-icon> Remove
                  </button>
                </section>
              </ng-container>

              <section class="add-contact-section">
                <button mat-raised-button color="primary" (click)="addContact()">
                  <mat-icon aria-hidden="false" aria-label="Add Contact">group_add</mat-icon> Add Contact
                </button>
              </section>
            </section>

            <!-- Payment Information -->
            <section class="payment-information-wrapper">
              <!-- Header -->
              <app-section-header title="Payment Information"></app-section-header>

              <!-- Content -->
              <section class="payment-information-content">
                <!-- Payment Mode -->
                <mat-form-field>
                  <mat-label>Payment Mode</mat-label>
                  <mat-select disableOptionCentering name="paymentMode" [(ngModel)]="outsource.paymentModel">
                    <mat-option value="cash">
                      Cash
                    </mat-option>
                    <mat-option value="netBanking">
                      Net Banking
                    </mat-option>
                    <mat-option value="credit">
                      Credit Card
                    </mat-option>
                    <mat-option value="debit">
                      Debit Card
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Credit Period -->
                <mat-form-field>
                  <mat-label>Credit Period</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="outsource.creditPeriod" name="creditPeriod">
                    <mat-option value="cash">
                      15
                    </mat-option>
                    <mat-option value="cash">
                      30
                    </mat-option>
                    <mat-option value="cash">
                      45
                    </mat-option>
                    <mat-option value="cash">
                      60
                    </mat-option>
                    <mat-option value="cash">
                      75
                    </mat-option>
                    <mat-option value="cash">
                      90
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Login Information -->
            <section class="login-information-wrapper">
              <!-- Header -->
              <app-section-header title="Login Information"></app-section-header>
              <!-- Content -->
              <section class="login-information-content">
                <!-- URL -->
                <mat-form-field>
                  <mat-label>URL</mat-label>
                  <input matInput placeholder="URL" name="url" required [(ngModel)]="outsource.url" />
                </mat-form-field>

                <!-- UserName -->
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input
                    matInput
                    placeholder="User Name"
                    class="uppercase"
                    name="userName"
                    required
                    [(ngModel)]="outsource.username"
                  />
                </mat-form-field>

                <!-- Password -->
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" name="password" required [(ngModel)]="outsource.password" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" (click)="onAddReferalLabClicked()">
              Add Outsourcing Management
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
