<section id="outsource-management-container">
  <mat-card class="outsource-management-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Outsource Management" subTitle="Add a Outsource Lab" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="outsource-management-form" #outsource="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Lab Name -->
                <mat-form-field>
                  <mat-label>Lab Name</mat-label>
                  <input matInput placeholder="Lab Name" class="uppercase" name="labName" pattern="[a-zA-Z]*"  #labName="ngModel" required ngModel/>
                  <mat-hint>
                  <div *ngIf="labName.invalid && (labName.dirty || labName.touched)" class="validation">
                    <div *ngIf="labName.errors.required">Name is required</div>
                    <div *ngIf="labName.errors?.pattern">Text is required</div>
                </div>
              </mat-hint>
                </mat-form-field>
                

                <!-- Web -->
                <mat-form-field>
                  <mat-label>Web</mat-label>
                  <input matInput class ="uppercase" placeholder="Web"/>
                </mat-form-field>

                <!-- Telephone -->
                <mat-form-field>
                  <mat-label>Telephone</mat-label>
                  <input matInput placeholder="Telephone" name="telePhone" pattern="[0-9]+" #telePhone="ngModel" minlength=10 maxlength=10 required ngModel/>
                <mat-hint>
                  <div *ngIf="telePhone.invalid && (telePhone.dirty || telePhone.touched)" class="validation">
                    <div *ngIf="telePhone.errors.required">required field</div>
                    <div *ngIf="telePhone.errors?.pattern">Number is required</div>
                    <div *ngIf="telePhone.errors.minlength || telePhone.errors.maxlength ">must be 10 digit required</div>
                </div>
              </mat-hint>
                </mat-form-field>

                <!-- Fax -->
                <mat-form-field>
                  <mat-label>Fax</mat-label>
                  <input matInput placeholder="Fax" />
                </mat-form-field>

                <!-- Relation -->
                <mat-form-field class="mt-n7">
                  <mat-label>Relation</mat-label>
                  <mat-select disableOptionCentering name="relation" ngModel #relation="ngModel">
                    <mat-option value="1">
                      Intra
                    </mat-option>
                    <mat-option value="2">
                      Inter
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Interfacing Type -->
                <mat-form-field>
                  <mat-label>Interfacing Type</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option value="uni">
                      Unidirectional
                    </mat-option>
                    <mat-option value="bi">
                      Bidirectional
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Address Information -->
            <section class="address-information-wrapper">
              <!-- Header -->
              <app-section-header title="Address Information"></app-section-header>

              <!-- Content -->
              <section class="address-information-content">
                <!-- Address Mode -->

                <!-- Address -->
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <input matInput class="uppercase" pattern="[a-zA-Z]*" placeholder="Address" name="address" required ngModel #address="ngModel" />
                <mat-hint>
                  <div *ngIf="address.invalid && (address.dirty || address.touched)" class="validation">
                    <div *ngIf="address.errors.required">Address is required</div>
                    <div *ngIf="address.errors?.pattern">Text is required</div>
                  </div>
                </mat-hint>
                  </mat-form-field>

                <!-- P.O.Box -->
                <mat-form-field>
                  <mat-label>P.O.Box</mat-label>
                  <input matInput placeholder="P.O.Box" name="postBox" pattern="[0-9]+" required ngModel #postBox="ngModel" />
                <mat-hint>
                  <div *ngIf="postBox.invalid && (postBox.dirty || postBox.touched)" class="validation">
                    <div *ngIf="postBox.errors.required">postbox is required</div>
                    <div *ngIf="postBox.errors?.pattern">number is required</div>
                  </div>
                </mat-hint>
                  </mat-form-field>

                <!-- City-->
                <mat-form-field class="mt-n7">
                  <mat-label>City</mat-label>
                  <mat-select disableOptionCentering> </mat-select>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field>
                  <mat-label>Country</mat-label>
                  <mat-select disableOptionCentering name="country" ngModel #country="ngModel">
                    <mat-option *ngFor="let options of countries" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Contact person -->
            <section class="contactperson-information-wrapper">
              <!-- Header -->
              <app-section-header title="Contact  Information"></app-section-header>
              <!-- Content -->
              <section class="contactperson-information-content">
                <!-- Contact person Mode -->

                <!-- Sales Rep -->
                <mat-form-field>
                  <mat-label>Sales Representative</mat-label>
                  <input
                    matInput
                    class="uppercase"
                    placeholder="Sales Representative"
                    name="salesRepresentative"
                    ngModel
                    required
                    pattern="[a-zA-Z]*"
                    #salesRepresentative="ngModel"
                  />
                <mat-hint>
                  <div *ngIf="salesRepresentative.invalid && (salesRepresentative.dirty || salesRepresentative.touched)" class="validation">
                    <div *ngIf="salesRepresentative.errors.required">required field</div>
                    <div *ngIf="salesRepresentative.errors?.pattern">Text is required</div>
                </div>
              </mat-hint>
                </mat-form-field>

                <!-- Courier -->
                <mat-form-field>
                  <mat-label>Courier</mat-label>
                  <mat-select placeholder="Courier" name="courierId" ngModel #courierId="ngModel">
                    <mat-option value="22">FedEx</mat-option>
                    <mat-option value="23">Speed Courier</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Contact Person Name -->
                <mat-form-field>
                  <mat-label>Contact Person Name</mat-label>
                  <input matInput class="uppercase" name="contactPerson" pattern="[a-zA-Z]*" #contactPerson="ngModel" placeholder="Contact Person Name" ngModel required />
                  <mat-hint>
                  <div *ngIf="contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)" class="validation">
                    <div *ngIf="contactPerson.errors.required">required field</div>
                    <div *ngIf="contactPerson.errors?.pattern">Text is required</div>
                  </div>
                </mat-hint>
                  </mat-form-field>

                <!-- Mobile -->
                <mat-form-field>
                  <mat-label>Mobile</mat-label>
                  <input matInput placeholder="Mobile" pattern="[0-9]+" name="mobileNumber" #mobileNumber="ngModel" minlength=10 maxlength=10 ngModel required />
                  <mat-hint>
                  <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="validation">
                    <div *ngIf="mobileNumber.errors.required">required field</div>
                    <div *ngIf="mobileNumber.errors?.pattern">Number is required</div>
                    <div *ngIf="mobileNumber.errors.minlength || mobileNumber.errors.maxlength ">must be 10 digit required</div>
                </div>
              </mat-hint>
                </mat-form-field>
                

                <!-- Email -->
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput class="uppercase" placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" ngModel required />
                <mat-hint>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="validation">
                    <div *ngIf="email.errors.required">required field</div>
                    <div *ngIf="email.errors?.pattern">must be emaple@gmail.com format</div>
                </div>
              </mat-hint>
                </mat-form-field>
              </section>
            </section>

            <!-- Payment Information -->
            <section class="payment-information-wrapper">
              <!-- Header -->
              <app-section-header title="Payment Information"></app-section-header>

              <!-- Content -->
              <section class="payment-information-content">
                <!-- Payment Mode -->
                <mat-form-field>
                  <mat-label>Payment Mode</mat-label>
                  <mat-select disableOptionCentering name="paymentMode" ngModel #paymentModel="ngModel">
                    <mat-option value="cash">
                      Cash
                    </mat-option>
                    <mat-option value="netBanking">
                      Net Banking
                    </mat-option>
                    <mat-option value="credit">
                      Credit Card
                    </mat-option>
                    <mat-option value="debit">
                      Debit Card
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Credit Period -->
                <mat-form-field>
                  <mat-label>Credit Period</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option value="cash">
                      15
                    </mat-option>
                    <mat-option value="cash">
                      30
                    </mat-option>
                    <mat-option value="cash">
                      45
                    </mat-option>
                    <mat-option value="cash">
                      60
                    </mat-option>
                    <mat-option value="cash">
                      75
                    </mat-option>
                    <mat-option value="cash">
                      90
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>

            <!-- Login Information -->
            <section class="login-information-wrapper">
              <!-- Header -->
              <app-section-header title="Login Information"></app-section-header>
              <!-- Content -->
              <section class="login-information-content">
                <!-- URL -->
                <mat-form-field>
                  <mat-label>URL</mat-label>
                  <input matInput placeholder="URL" name="url" required ngModel #url="ngModel" />
                </mat-form-field>

                <!-- UserName -->
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput class="uppercase" placeholder="User Name" name="userName" required ngModel #userName="ngModel" />
                </mat-form-field>

                <!-- Password -->
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" name="password" required ngModel #password="ngModel" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" (click)="onAddReferalLabClicked(outsource)">
              Add Outsourcing Management
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
