<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <mat-form-field>
      <mat-label>Exceptional service by any of our staff </mat-label>
      <input matInput placeholder="Any Exceptional Service Staff" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Additional Comments </mat-label>
      <input matInput placeholder="Additional Comments" />
    </mat-form-field>
    <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
      <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
    </section>
  </form>
</section>
