<section>
    <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
        <mat-form-field>
            <mat-label>NAME<span>*</span></mat-label>
            <input matInput placeholder="Name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>HOSPITAL/CLINIC NAME <span>*</span></mat-label>
            <input matInput placeholder="Hospital/Clinic Name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>CITY<span>*</span></mat-label>
            <input matInput placeholder="City" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>COUNTRY<span>*</span></mat-label>
            <input matInput placeholder="Name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>OFFICE TELEPHONE<span>*</span></mat-label>
            <input matInput placeholder="Office Telephone" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>MOBILE<span>*</span></mat-label>
            <input matInput placeholder="Mobile" />
        </mat-form-field>
        <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2"
            fxLayoutAlign="center center">
            <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Submit</button>
        </section>
    </form>
</section>