<section id="method-container">
  <mat-card class="method-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Method" subTitle="Add a Method " icon="fa-calendar"> </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="method-dialog">
        <section>
          <!-- Method Form -->
          <form class="method-form" #method="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Method Name -->
                <mat-form-field class="mt-n7">
                  <mat-label>Method Name</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option value="intra">
                      Intra
                    </mat-option>
                    <mat-option value="inter">
                      Inter
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddMethodClicked(method)">
              Add Method
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
