<section id="report-format-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Report Format(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">
        <!--  Id -->
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" />
        </mat-form-field>
  
        <!-- Paper Size-->
        <mat-form-field>
          <mat-label>Paper Size</mat-label>
          <input matInput placeholder="Paper Size" />
        </mat-form-field>
  
        <!-- Font Type -->
        <mat-form-field>
          <mat-label>Font Type</mat-label>
          <input matInput placeholder="Font Type" />
        </mat-form-field>
  
        <!-- Font Size -->
        <mat-form-field>
          <mat-label>Font Size</mat-label>
          <input matInput />
        </mat-form-field>
  
        <!-- Date Format -->
        <mat-form-field>
          <mat-label>Date Format</mat-label>
          <input matInput placeholder="Date Format"  />
        </mat-form-field>
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  