<section id="appointments-container" class="animated fadeIn">
  <!-- Material Card -->
  <mat-card>
    <section class="mat-header-container">
      <!-- Mat Header Image -->
      <section class="mat-header-image-wrapper">
        <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true"
          >library_books
        </mat-icon>
      </section>

      <!-- Mat Header Title -->
      <section>
        <!-- Mat Card Title -->
        <mat-card-title>
          <section class="mat-card-title-container">
            <section>
              Appointments Lists
            </section>
          </section>
        </mat-card-title>

        <!-- Mat Card SubTitle -->
        <mat-card-subtitle> Manage Appointment(s) </mat-card-subtitle>
      </section>

      <!-- Add Appointment Button -->
      <section class="add-appointment-button-wrapper">
        <button class="appointment-button" mat-stroked-button (click)="onAddAppointmentButtonClicked()">Add Appointment</button>
      </section>
    </section>

    <!-- Mat Table Ribbon -->
    <app-appointment-ribbon-menu
      (addAppointmentButtonClicked)="onAddAppointmentButtonClicked()"
      (showListViewButtonClicked)="onShowListViewButtonClicked()"
      (showTableViewButtonClicked)="onShowTableViewButtonClicked()">
    </app-appointment-ribbon-menu>

    <!-- Mat Divider -->
    <mat-divider></mat-divider>

    <section>
      <!-- Test List -->
      <ng-container *ngIf="showListView; then listView; else tableView"></ng-container>

      <!-- List View -->
      <ng-template #listView>
        <app-appointment-list *ngIf="appointments"
        [appointments]="appointments | slice: pageEvent.pageIndex:pageEvent.pageSize">
      </app-appointment-list>
      </ng-template>

      <!-- Table View -->
      <ng-template #tableView>
        <app-appointment-table *ngIf="appointments"
          [appointments]="appointments | slice: pageEvent.pageIndex:pageEvent.pageSize"
          (rowSelected)="onRowSelected($event)"
          (editAppointmentClicked)="onEditClicked($event)"
          (deleteAppointmentClicked)="onDeleteAppointmentClicked($event)"
        >
        </app-appointment-table>
      </ng-template>

      <mat-paginator *ngIf="appointments"
        [length]="appointments.length"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        (page)="pageEvent = $event"
      >
      </mat-paginator>
    </section>
  </mat-card>
</section>