<section id="human-resource-container">
  <mat-card class="human-resource-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Human Resource" subTitle="Add Human Resource" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="human-resource-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">

                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" />
                </mat-form-field>

                <mat-form-field class="mt-n7">
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering>
                    <mat-option value="biochemistry">
                      Bio Chemistry
                    </mat-option>
                    <mat-option value="microbiology">
                      Micro Biology
                    </mat-option>
                    <mat-option value="molecularbiology">
                      Molecular Biology
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Alternate Email</mat-label>
                  <input matInput placeholder="Alternate Email" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Contact No</mat-label>
                  <input matInput placeholder="Contact No" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Alternate Contact No</mat-label>
                  <input matInput placeholder="Alternate Contact No" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Default Url</mat-label>
                  <input matInput placeholder="Default Url" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username" />
                </mat-form-field>
          
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput type="password" placeholder="Password" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="addHumanResource()">Add Human
              Resource</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>