<section id="humanresource-container">
  <mat-card class="humanresource-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Human Resource" subTitle="Add Employee Detail" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="humanresource-dialog">
        <section>
          <!-- Human Resource Management Form -->
          <form class="humanresource-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Employee Name -->
                <mat-form-field>
                  <mat-label>Employee Name</mat-label>
                  <input matInput placeholder="Employee Name" class="uppercase" required pattern="[a-zA-Z]*" name="employeeName" #employeeName="ngModel" ngModel/>
                  <mat-error *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched) ">
                    <mat-error *ngIf="employeeName.errors.required" >Employee Name is required</mat-error>
                    <mat-error *ngIf="employeeName.errors?.pattern" >Text is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Department -->
                <mat-form-field class="mt-n7">
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering> </mat-select>
                </mat-form-field>

                <!-- DOB -->
                <mat-form-field>
                  <mat-label>Date Of Birth</mat-label>
                  <input matInput placeholder="DOB" />
                </mat-form-field>

                <!-- E-mail -->
                <mat-form-field>
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Email" class="uppercase" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required ngModel/>
                  <mat-error *ngIf="email.invalid && (email.dirty || email.touched) ">
                    <mat-error *ngIf="email.errors.required" >Email is required</mat-error>
                    <mat-error *ngIf="email.errors?.pattern" >abc@gmail.com format is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Alternate E-mail -->
                <mat-form-field>
                  <mat-label>Alternate E-mail</mat-label>
                  <input matInput placeholder="Alternate Email" />
                </mat-form-field>

                <!-- Contact Number -->
                <mat-form-field>
                  <mat-label>Contact Number</mat-label>
                  <input matInput placeholder="Contact Number" name="contactNumber" #contactNumber="ngModel" pattern="[0-9]*" required ngModel/>
                  <mat-error *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched) ">
                    <mat-error *ngIf="contactNumber.errors.required" >Contact Number is required</mat-error>
                    <mat-error *ngIf="contactNumber.errors?.pattern" >number is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Alternate Contact Number -->
                <mat-form-field>
                  <mat-label>Alternate Contact Number</mat-label>
                  <input matInput placeholder="Alternate Contact Number" />
                </mat-form-field>
              </section>
            </section>

            <!-- User Credential -->
            <section class="user-credential-wrapper">
              <!-- Header -->
              <app-section-header title="User Credential"></app-section-header>

              <!-- Content -->
              <section class="user-credential-content">
                <!-- Default URL -->
                <mat-form-field>
                  <mat-label>Default URL</mat-label>
                  <input matInput placeholder="Default URL" required />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="User Name" required/>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" required />
                </mat-form-field>
              </section>
            </section>

            <!-- User Privielages Information -->
            <section class="control-panel-wrapper">
              <!-- Header -->
              <app-section-header title="User Privilages"></app-section-header>
              <!-- Content -->
              <section class="control-panel-content">
                <!-- Registration -->
                <mat-checkbox>Registration</mat-checkbox>

                <!-- Operation -->
                <mat-checkbox>Operation</mat-checkbox>

                <!-- Finance -->
                <mat-checkbox>Finance</mat-checkbox>

                <!-- Admin -->
                <mat-checkbox>Admin</mat-checkbox>

                <!-- Accession -->
                <mat-checkbox>Accession</mat-checkbox>

                <!-- Departments -->
                <mat-checkbox>Departments</mat-checkbox>

                <!-- Control Panel -->
                <mat-checkbox>Control Pannel</mat-checkbox>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial>Add Employee Details</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
