<section id="humanresource-container">
  <mat-card class="humanresource-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Human Resource" subTitle="Add Employee Detail" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="humanresource-dialog">
        <section>
          <!-- Human Resource Management Form -->
          <form class="humanresource-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Employee Name -->
                <mat-form-field>
                  <mat-label>Employee Name</mat-label>
                  <input
                    matInput
                    placeholder="Employee Name"
                    class="uppercase"
                    required
                    pattern="[a-zA-Z]*"
                    name="employeeName"
                    #employeeName="ngModel"
                    ngModel
                  />
                  <mat-error *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched)">
                    <mat-error *ngIf="employeeName.errors.required">Employee Name is required</mat-error>
                    <mat-error *ngIf="employeeName.errors?.pattern">Text is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" ngModel #active="ngModel">Active</mat-slide-toggle>
                </section>

                <!-- Department -->
                <mat-form-field class="mt-n7">
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering> </mat-select>
                </mat-form-field>

                <!-- DOB -->
                <mat-form-field>
                  <mat-label>Date Of Birth</mat-label>
                  <input matInput placeholder="DOB" />
                </mat-form-field>

                <!-- Education -->
                <mat-form-field>
                  <mat-label>Education</mat-label>
                  <textarea matInput placeholder="Education" class="uppercase"></textarea>
                </mat-form-field>

                <!-- Experience -->
                <mat-form-field>
                  <mat-label>Experience</mat-label>
                  <textarea matInput placeholder="Experience" class="uppercase"></textarea>
                </mat-form-field>
              </section>
            </section>

            <!-- Address Information -->
            <section class="address-information-wrapper">
              <!-- Header -->
              <app-section-header title="Address Information"></app-section-header>

              <!-- Content -->
              <section class="address-information-content">
                <!-- Address -->
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <textarea
                    matInput
                    placeholder="Address"
                    class="uppercase"
                    name="address"
                    ngModel
                    #address="ngModel"
                    required
                  ></textarea>
                  <mat-error *ngIf="address.invalid && (address.dirty || address.touched)">
                    <mat-error *ngIf="address.errors.required">Address is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- Area -->
                <mat-form-field>
                  <mat-label> Area</mat-label>
                  <input matInput placeholder=" Area" class="uppercase" name=" area" ngModel #area="ngModel" />
                </mat-form-field>

                <!-- Region-->
                <mat-form-field class="mt-n7">
                  <mat-label>City</mat-label>
                  <mat-select disableOptionCentering name="region" ngModel #region="ngModel"> </mat-select>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field class="mt-n7">
                  <mat-label>Country</mat-label>
                  <mat-select disableOptionCentering name="country" ngModel #country="ngModel"> </mat-select>
                </mat-form-field>

                <!-- P.O.Box -->
                <mat-form-field>
                  <mat-label>P.O.Box</mat-label>
                  <input matInput placeholder="P.O.Box" class="uppercase" name="postBox" ngModel #postBox="ngModel" />
                </mat-form-field>

                <!-- Fax -->
                <mat-form-field>
                  <mat-label>Fax</mat-label>
                  <input matInput placeholder="Fax" class="uppercase" name="fax" ngModel #fax="ngModel" />
                </mat-form-field>

                <!-- Web -->
                <mat-form-field>
                  <mat-label>Web</mat-label>
                  <input matInput placeholder="Web" class="uppercase" name="web" ngModel #web="ngModel" />
                </mat-form-field>

                <!-- Email-->
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" name="email" ngModel #email="ngModel" />
                </mat-form-field>

                <!-- Telephone -->
                <mat-form-field>
                  <mat-label>Telephone</mat-label>
                  <input
                    matInput
                    placeholder="Telephone"
                    class="uppercase"
                    name="telephone"
                    ngModel
                    #telephone="ngModel"
                    pattern="[0-9]+"
                    minlength="10"
                    required
                  />

                  <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
                    <mat-error *ngIf="telephone.errors.required">telephone is required</mat-error>
                    <mat-error *ngIf="telephone.errors?.pattern">number is required</mat-error>
                  </mat-error>
                </mat-form-field>

                <section class="label">
                  Picture
                  <button mat-button color="primary">
                    Upload
                  </button>
                </section>
              </section>
            </section>

            <!-- Socialmedia Information -->
            <section class="socialmedia-information-wrapper">
              <!-- Header -->
              <app-section-header title="Social Media"></app-section-header>
              <!-- Content -->
              <section class="socialmedia-information-content">
                <!-- Whatsapp Number -->
                <mat-form-field>
                  <mat-label>Whatsapp Number </mat-label>
                  <input
                    matInput
                    placeholder="Whatsapp Number "
                    class="uppercase"
                    name="whatsappNumber "
                    ngModel
                    #whatsappNumber="ngModel"
                  />
                </mat-form-field>

                <!-- Facebook Id -->
                <mat-form-field>
                  <mat-label>Facebook Id </mat-label>
                  <input matInput placeholder="Facebook Id" class="uppercase" name="facebook" ngModel #facebook="ngModel" />
                </mat-form-field>

                <!-- Instagram Id-->
                <mat-form-field>
                  <mat-label>Instagram Id </mat-label>
                  <input matInput placeholder="Instagram Id" class="uppercase" name="instagram" ngModel #instagram="ngModel" />
                </mat-form-field>

                <!-- Twitter Id-->
                <mat-form-field>
                  <mat-label>Twitter Id </mat-label>
                  <input matInput placeholder="Twitter Id" class="uppercase" name="twitter" ngModel #twitter="ngModel" />
                </mat-form-field>
              </section>
            </section>

            <!-- User Credential -->
            <section class="user-credential-wrapper">
              <!-- Header -->
              <app-section-header title="User Credential"></app-section-header>

              <!-- Content -->
              <section class="user-credential-content">
                <mat-form-field>
                  <mat-label>User Name</mat-label>
                  <input matInput placeholder="User Name" class="uppercase" />
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password" class="uppercase" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial>Add Employee Details</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
