<section id="outsource-management-list-container">
  <section *ngFor="let element of labs">
    <section class="title-wrapper">
      <section class="title">#{{ element.id }} / {{ element.basicInformation.labName }}</section>
      <mat-icon class="pointer mr-12 white" [matMenuTriggerFor]="statusMenu">arrow_drop_down</mat-icon>
      <mat-menu #statusMenu="matMenu">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </section>
    <section class="action-buttons-container">
      <button mat-button>
        <i class="fa fa-lg fa-eye dark-blue" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-pencil deep-orange" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-trash red" aria-hidden="true"></i>
      </button>
    </section>
    <section class="outsource-management-container">
      <!-- clinic ID -->
      <section class="sub-title">Clinic ID</section>
      <section>{{ element.id }}</section>

      <!-- lab Name -->
      <section class="sub-title">Outsourced Lab Name</section>
      <section>{{ element.basicInformation.labName }}</section>

      <!-- Address -->
      <section class="sub-title">Address</section>
      <section>{{ element.basicInformation.address }}</section>

      <!-- P.O box -->
      <section class="sub-title">P.O box</section>
      <section>{{ element.basicInformation.postBox }}</section>

      <!-- Telephone -->
      <section class="sub-title">Telephone</section>
      <section>{{ element.basicInformation.telephone }}</section>

      <!--Fax -->
      <section class="sub-title">Fax</section>
      <section>{{ element.basicInformation.fax }}</section>

      <!-- Web -->
      <section class="sub-title">Web</section>
      <section>{{ element.basicInformation.web }}</section>

      <!-- Region -->
      <section class="sub-title">Region</section>
      <section>{{ element.basicInformation.region }}</section>

      <!-- Country -->
      <section class="sub-title">Country</section>
      <section>{{ element.basicInformation.country }}</section>

      <!-- Sales Representative -->
      <section class="sub-title">Sales Representative</section>
      <section>{{ element.basicInformation.salesRepresentative }}</section>

      <!-- Courier -->
      <section class="sub-title">Courier</section>
      <section>{{ element.basicInformation.courier }}</section>

      <!-- Contact Person -->
      <section class="sub-title">Contact Person</section>
      <section>{{ element.basicInformation.contactMobile }}</section>

      <!-- Email -->
      <section class="sub-title">Email</section>
      <section>{{ element.basicInformation.email }}</section>
    </section>
  </section>
</section>
