<section id="outsource-management-list-container">
  <section *ngFor="let element of labs">
    <section class="title-wrapper">
      <section class="title">#{{ element.id }} / {{ element.basicInformation.labName }}</section>
      <mat-icon class="pointer mr-12 white" [matMenuTriggerFor]="statusMenu">arrow_drop_down</mat-icon>
      <mat-menu #statusMenu="matMenu">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </section>
    <section class="action-buttons-container">
      <button mat-button>
        <i class="fa fa-lg fa-eye dark-blue" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-pencil deep-orange" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-trash red" aria-hidden="true"></i>
      </button>
    </section>
    <section class="outsource-management-container">
       <!--Basic Information -->

      <!--ID -->
      <section class="sub-title"> ID</section>
      <section>{{ element.id }}</section>

      <!-- lab Name -->
      <section class="sub-title">Outsourced Lab Name</section>
      <section>{{ element.basicInformation.labName }}</section>


      <!-- Web -->
      <section class="sub-title">Web</section>
      <section>{{ element.basicInformation.web }}</section>

       <!-- Telephone -->
       <section class="sub-title">Telephone</section>
       <section>{{ element.basicInformation.telephone }}</section>
 
       <!--Fax -->
       <section class="sub-title">Fax</section>
       <section>{{ element.basicInformation.fax }}</section>

       <!-- Realtion -->
      <section class="sub-title">Realtion</section>
      <section>{{ element.basicInformation.realtion }}</section>

      <!-- Interfacing Type -->
      <section class="sub-title">Interfacing Type</section>
      <section>{{ element.basicInformation.interfacingType }}</section>

      <!--Address Information -->

      <!-- Address -->
      <section class="sub-title">Address</section>
      <section>{{ element.addressInformation.address }}</section>

      <!-- P.O box -->
      <section class="sub-title">P.O box</section>
      <section>{{ element.addressInformation.postBox }}</section>

      <!-- City -->
      <section class="sub-title">City</section>
      <section>{{ element.addressInformation.city }}</section>

      <!-- Country -->
      <section class="sub-title">Country</section>
      <section>{{ element.addressInformation.country }}</section>

      <!--Contact Information -->

      <!-- Sales Representative -->
      <section class="sub-title">Sales Representative</section>
      <section>{{ element.contactInformation.salesRepresentative }}</section>

      <!-- Courier -->
      <section class="sub-title">Courier</section>
      <section>{{ element.contactInformation.courier }}</section>

      <!-- Contact Person Name -->
      <section class="sub-title">Contact Person Name</section>
      <section>{{ element.contactInformation.contactPersonName }}</section>

      <!-- Email -->
      <section class="sub-title">Email</section>
      <section>{{ element.contactInformation.email }}</section>

    </section>
  </section>
</section>
