<form class="profile-test-form">
  <section>
    <mat-card>
      <!-- Mat Card header -->
      <app-mat-dialog-header
        title="Edit Profile Tests"
        subTitle="Edits the Profile test for testing"
      ></app-mat-dialog-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <section>
          <!-- General Information -->
          <section fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="20px grid">
            <!-- Department -->
              <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select disableOptionCentering [(ngModel)]="testprofile.departmentName" name="departmentId">
                    <mat-option *ngFor="let item of departments" [value]="item.departmentId">{{
                      item.departmentName
                    }}</mat-option>
                  </mat-select>
              </mat-form-field>

            <!-- Test Name-->
            <mat-form-field>
                <mat-label>Test Name</mat-label>
                <input
                  matInput
                  placeholder="Test Name"
                  required
                  [(ngModel)]="testprofile.testName"
                  name="testName"
                  class="uppercase"
                />
              </mat-form-field>

            <!-- DOS Code -->
            <mat-form-field fxFlex="25">
              <mat-label>DOS Code</mat-label>
              <input matInput placeholder="DOS Code" name="dosCode" [(ngModel)]="testprofile.eclDosCode"/>
            </mat-form-field>

            <!-- Profile Test CPT Code -->
            <mat-form-field fxFlex="25">
              <mat-label>CPT Code</mat-label>
              <input matInput placeholder="CPT Code" name="cptCode" [(ngModel)]="testprofile.cptCode" />
            </mat-form-field>

            <!-- Specimmen-->
            <mat-form-field>
              <mat-label>Specimen</mat-label>
              <mat-select disableOptionCentering [(ngModel)]="testprofile.specimen" name="specimen">
                  <mat-option *ngFor="let item of specimen" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Specimmen -->
            <mat-form-field class="mt-n7">
              <mat-label>Specimen Type</mat-label>
              <mat-select disableOptionCentering [(ngModel)]="testprofile.specimenType" name="specimenType">
                  <mat-option *ngFor="let item of specimenType" [value]="item.lookupId"
                    >{{ item.keyValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Storage-->
            <mat-form-field class="mt-n7">
              <mat-label>Storage</mat-label>
              <mat-select disableOptionCentering [(ngModel)]="testprofile.storageId" name="storageId">
                  <mat-option *ngFor="let item of storage" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!--Patient Fee-->
            <mat-form-field>
              <mat-label>Patient Fee</mat-label>
              <input
                matInput
                placeholder="Patient Fee"
                required
                [(ngModel)]="testprofile.patientFee"
                name="patientFee"
                class="uppercase"
              />
            </mat-form-field>

            <!-- Net Fee-->
            <mat-form-field>
              <mat-label>Net Fee</mat-label>
              <input
                matInput
                placeholder="Net Fee"
                required
                [(ngModel)]="testprofile.netFee"
                name="netFee"
                class="uppercase"
              />
            </mat-form-field>
          </section>

          <!-- Link profile test-->
          <app-link-test-to-profiletest></app-link-test-to-profiletest>

          <!-- Dialog Actions -->
          <section mat-dialog-actions>
            <section
              class="mt-1 mb-1 full-width"
              fxLayout="row"
              fxFlexAlign="center center"
              fxLayoutAlign="center center"
            >
              <button mat-button color="primary" matDialogClose (click)="cancel()">Cancel</button>
              <button mat-raised-button color="primary" cdkFocusInitial (click)="updateProfile()">
                Save Change(s)
              </button>
            </section>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</form>
