<form class="profile-test-form">
  <section>
    <mat-card>
      <!-- Mat Card header -->
      <app-mat-dialog-header
        title="Edit Profile Tests"
        subTitle="Edits the Profile test for testing"
      ></app-mat-dialog-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <section>
          <!-- General Information -->
          <section fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="20px grid">
            <!-- Department -->
              <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select disableOptionCentering [(ngModel)]="testprofile.department" name="departmentId">
                    <mat-option *ngFor="let item of departments" [value]="item.departmentId">{{
                      item.departmentName
                    }}</mat-option>
                  </mat-select>
              </mat-form-field>

            <!-- Test Name-->
            <mat-form-field>
                <mat-label>Test Name</mat-label>
                <!-- <mat-select disableOptionCentering> </mat-select> -->
                <input
                  matInput
                  placeholder="Test Name"
                  class="uppercase"
                  required
                  [(ngModel)]="testprofile.testName"
                  name="testName"
                  class="uppercase"
                />
              </mat-form-field>

            <!-- DOS Code -->
            <mat-form-field fxFlex="25">
              <mat-label>DOS Code</mat-label>
              <input matInput placeholder="DOS Code" class="uppercase" name="dosCode" />
            </mat-form-field>

            <!-- Profile Test CPT Code -->
            <mat-form-field fxFlex="25">
              <mat-label>CPT Code</mat-label>
              <input matInput placeholder="CPT Code" class="uppercase" name="cptCode" [(ngModel)]="testprofile.cptCode" />
            </mat-form-field>

            <!-- Outsource Id -->
            <mat-form-field fxFlex="50">
              <mat-label>outsourceId</mat-label>
              <input matInput placeholder="outsourceId" class="uppercase" name="outsourceId" />
            </mat-form-field>

            <!-- Integration Code -->
            <mat-form-field fxFlex="50">
              <mat-label>Integration Code</mat-label>
              <input matInput placeholder="Integration Code" class="uppercase" name="integrationCode" />
            </mat-form-field>

            <!-- MinimumSellingPrice -->
            <mat-form-field fxFlex="50">
              <mat-label>Minimum selling price</mat-label>
              <input matInput placeholder="Minimum selling price" class="uppercase" name="minimumSellingPrice" />
            </mat-form-field>

            <!-- Revenue CAP -->
            <mat-form-field fxFlex="50">
              <mat-label>Revenue CAP</mat-label>
              <input matInput placeholder="Revenue CAP" class="uppercase" name="revenueCap" />
            </mat-form-field>

            <!-- Specimen-->
            <mat-form-field fxFlex="25">
              <mat-label>Specimen</mat-label>
              <mat-select placeholder="Select Specimen" class="uppercase"> </mat-select>
            </mat-form-field>

            <!-- Storage -->
            <mat-form-field fxFlex="25">
              <mat-label>Storage</mat-label>
              <mat-select placeholder="Select Storage" class="uppercase"> </mat-select>
            </mat-form-field>

            <!-- Gross -->
            <mat-form-field fxFlex="25">
              <mat-label>Gross</mat-label>
              <input matInput placeholder="gross" class="uppercase" name="gross" />
            </mat-form-field>

            <!-- Net -->
            <mat-form-field fxFlex="25">
              <mat-label>Net</mat-label>
              <input matInput placeholder="Net" class="uppercase" name="net" />
            </mat-form-field>

            <!-- profilePrice -->
            <mat-form-field fxFlex="50">
              <mat-label>Profile Price</mat-label>
              <input matInput placeholder="Profile Price" class="uppercase" name="profilePrice" />
            </mat-form-field>
          </section>

          <!-- Link profile test-->
          <app-link-test-to-profiletest></app-link-test-to-profiletest>

          <!-- Dialog Actions -->
          <section mat-dialog-actions>
            <section
              class="mt-1 mb-1 full-width"
              fxLayout="row"
              fxFlexAlign="center center"
              fxLayoutAlign="center center"
            >
              <button mat-button color="primary" matDialogClose (click)="cancel()">Cancel</button>
              <button mat-raised-button color="primary" cdkFocusInitial (click)="updateProfile()">
                Save Change(s)
              </button>
            </section>
          </section>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</form>
