<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" />
    </mat-form-field>
    <section class="ease-appoinmet">
      <mat-label>The ease of making an appointment<span>*</span></mat-label>
      <section>
        <mat-radio-group>
          <mat-radio-button value="worse" class="example-radio-button">
            Worse
          </mat-radio-button>
          <mat-radio-button value="sad" class="example-radio-button">
            Sad
          </mat-radio-button>
          <mat-radio-button value="good" class="example-radio-button">
            Good
          </mat-radio-button>
          <mat-radio-button value="extra-ordinary" class="example-radio-button">
            Extra-Ordinary
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </section>
    <section class="appointment-suitability">
      <mat-label>The suitability of your appointment time<span>*</span></mat-label>
      <section>
        <mat-radio-group>
          <mat-radio-button value="worse" class="example-radio-button">
            Worse
          </mat-radio-button>
          <mat-radio-button value="sad" class="example-radio-button">
            Sad
          </mat-radio-button>
          <mat-radio-button value="good" class="example-radio-button">
            Good
          </mat-radio-button>
          <mat-radio-button value="extra-ordinary" class="example-radio-button">
            Extra-Ordinary
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </section>
    <section class="timespent-appointment">
      <mat-label>The time spent in our waiting area<span>*</span></mat-label>
      <section>
        <mat-radio-group>
          <mat-radio-button value="worse" class="example-radio-button">
            Worse
          </mat-radio-button>
          <mat-radio-button value="sad" class="example-radio-button">
            Sad
          </mat-radio-button>
          <mat-radio-button value="good" class="example-radio-button">
            Good
          </mat-radio-button>
          <mat-radio-button value="extra-ordinary" class="example-radio-button">
            Extra-Ordinary
          </mat-radio-button>
        </mat-radio-group>
      </section>
    </section>
    <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>
        Next
      </button>
    </section>
  </form>
</section>
