<section id="appointment-list-container">
  <section *ngFor="let appointment of appointments">
    <section class="title-wrapper">
      <section class="title">#{{ appointment.appointmentId }} / {{ appointment.patientName }} / {{ appointment.dob }}</section>
      <mat-icon class="pointer mr-12 white" [matMenuTriggerFor]="statusMenu">arrow_drop_down</mat-icon>
      <mat-menu #statusMenu="matMenu">
        <button mat-menu-item>Pending</button>
        <button mat-menu-item>Completed</button>
        <button mat-menu-item>Cancel</button>
      </mat-menu>
    </section>
    <section class="action-buttons-container">
        <button mat-button>
          <i class="fa fa-lg fa-eye dark-blue" aria-hidden="true"></i>
        </button>
  
        <button mat-button>
          <i class="fa fa-lg fa-pencil deep-orange" aria-hidden="true"></i>
        </button>
  
        <button mat-button>
          <i class="fa fa-lg fa-trash red" aria-hidden="true"></i>
        </button>
      </section>
    <section class="appointment-container">
      <!-- Appointment ID -->
      <section class="sub-title">Appointment ID</section>
      <section>{{ appointment.appointmentId }}</section>

      <!-- Patient Name -->
      <section class="sub-title">Patient Name</section>
      <section>{{ appointment.patientName | uppercase}}</section>

      <!-- Date Of Birth -->
      <section class="sub-title">Date Of Birth</section>
      <section>{{ appointment.dob }}</section>

      <!-- Gender -->
      <section class="sub-title">Gender</section>
      <section>{{ appointment.gender| uppercase }}</section>

      <!-- Mobile Number -->
      <section class="sub-title">Mobile Number</section>
      <section>{{ appointment.mobile }}</section>

      <!-- Phone Number -->
      <section class="sub-title">Phone Number</section>
      <section>{{ appointment.landline }}</section>

      <!-- Appointment Schedule -->
      <section class="sub-title">Appointment Schedule</section>
      <section>{{ appointment.appointmentDate }}</section>

      <!-- Status -->
      <section class="sub-title">Status</section>
      <section>{{ appointment.status.statusValue }}</section>
    </section>
  </section>
</section>
