<section id="appointment-list-container">
  <table mat-table [dataSource]="filteredAppointments" class="full-width">
    <!-- Appointment ID -->
    <ng-container matColumnDef="appointmentId">
      <th mat-header-cell *matHeaderCellDef>Appointment ID</th>
      <td mat-cell *matCellDef="let element">{{ element.appointmentId }}</td>
    </ng-container>

    <!-- Patient Name -->
    <ng-container matColumnDef="patientName">
      <th mat-header-cell *matHeaderCellDef>Patient Name</th>
      <td mat-cell *matCellDef="let element">{{ element.displayName}}</td>
    </ng-container>

    <!-- Gender -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender.genderName	 }}</td>
    </ng-container>

    <!-- Email Address -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        <section class="column-header-wrapper">
          <mat-label>Email Address</mat-label>
          <app-row-filter [allItems]="emailFilterList" (closed)="onFilterClosed($event)"></app-row-filter>
        </section>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Mobile Number -->
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
    </ng-container>

    <!-- Appointment Time -->
    <ng-container matColumnDef="appointmentDate">
      <th mat-header-cell *matHeaderCellDef>Appointment Date</th>
      <td mat-cell *matCellDef="let element">{{ element.appointmentDateTime | date }}</td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <section class="status-card">
          {{ element.status }}
        </section>
      </td>
    </ng-container>

    <!--Action-->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <section class="actions-wrapper">
          <app-column-chooser [columns]="filteredColumns" (closed)="onColumnChooserClosed($event)"></app-column-chooser>
        </section>
      </th>
      <td mat-cell *matCellDef="let element">
        <section class="actions-wrapper">
          <button class="edit-button" mat-button 
          color="primary" 
          (click)="onEditClicked(element,$event)"
          disableRipple>
            <mat-icon>edit_outline</mat-icon>
          </button>
          <button
            class="delete-button"
            mat-button
            color="warn"
            (click)="onDeleteClicked(element.appointmentId,$event)"
            disableRipple>
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button class="action-button" mat-button color="primary" disableRipple [matMenuTriggerFor]="statusMenu"
            (click)="onMenuButtonClicked($event)">
            <mat-icon>more_vert_outline</mat-icon>
          </button>
          <mat-menu #statusMenu="matMenu">
            <button mat-menu-item (click)="updateAppointmentStatus('Pending',element.appointmentId)">Pending</button>
            <button mat-menu-item (click)="updateAppointmentStatus('Cancelled',element.appointmentId)">Cancelled</button>
            <button mat-menu-item (click)="updateAppointmentStatus('Confirmed',element.appointmentId)">Confirmed</button>
          </mat-menu>
        </section>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
