<section id="comment-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Comment(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">

          <!-- Comment Name -->
          <mat-form-field class="mt-n7">
            <input matInput placeholder="Comment" name="commentName" ngModel #commentName="ngModel"/>
          </mat-form-field>
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  