<section id="method-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Method(s)"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">

          <!-- Method Name -->
          <mat-form-field class="mt-n7">
            <mat-label>Method Name</mat-label>
            <mat-select disableOptionCentering>
              <mat-option value="intra">
                Intra
              </mat-option>
              <mat-option value="inter">
                Inter
              </mat-option>
            </mat-select>
          </mat-form-field>
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  