<mat-horizontal-stepper>
  <mat-step>
    <form>
      <ng-template matStepLabel>Appointment & Reception</ng-template>
      <app-appoinment-registration-feedback></app-appoinment-registration-feedback>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Our People</ng-template>
      <app-our-people></app-our-people>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Our Service</ng-template>
      <app-our-service></app-our-service>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Overall Statisfaction</ng-template>
      <app-overall-satisfaction></app-overall-satisfaction>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Service</ng-template>
      <app-service></app-service>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Contact Details</ng-template>
      <app-contact-details></app-contact-details>
    </form>
  </mat-step>
</mat-horizontal-stepper>
