#logistic-messenger-container {
  .mat-card-title-container {
    display: grid;
    grid-template-columns: 1fr auto;

    .logistic-button {
      margin-bottom: 12px;
      margin-right: 12px;
      background-color: #5388a5;
      color: white;
    }
  }
}
