<section id="home-dashboard-container">
  <!-- Active Accounts -->
  <section class="account-card-wrapper">
    <mat-card>
      <div class="card grad-blue">
        <div class="title">Active Accounts</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-book fa-3x align-self-center"></i>
            <div class="number align-self-center">190</div>
          </div>
        </div>
      </div>
    </mat-card>
  </section>

  <!-- Active Doctors -->
  <section class="doctors-card-wrapper">
    <mat-card>
      <div class="card grad-green">
        <div class="title">Active Doctors</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-user-md fa-3x align-self-center"></i>
            <div class="number align-self-center">87</div>
          </div>
        </div>
      </div>
    </mat-card>
  </section>

  <!-- Appointments -->
  <section class="appointments-card-wrapper">
    <mat-card>
      <div class="card grad-red">
        <div class="title">Appointments</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-users fa-3x align-self-center"></i>
            <div class="number align-self-center">34</div>
          </div>
        </div>
      </div>
    </mat-card>
  </section>

  <!-- Home Collections -->
  <section class="home-collection-card-wrapper">
    <mat-card>
      <div class="card grad-blue">
        <div class="title">Home Collection</div>
        <div class="sub-title">This Week</div>
        <div class="weather">
          <div class="content d-flex justify-content-between">
            <i class="fa fa-shopping-bag fa-3x align-self-center"></i>
            <div class="number align-self-center">12</div>
          </div>
        </div>
      </div>
    </mat-card>
  </section>

  <!-- News Widget 1 -->
  <section class="news-feed-1 news-feed-wrapper">
    <mat-card>
      <mat-card-title>News</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <section class="news-section">

      </section>
    </mat-card>
  </section>

  <!-- News Widget 2 -->
  <section class="news-feed-2 news-feed-wrapper">
    <mat-card>
      <mat-card-title>News</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <section class="news-section">

      </section>
    </mat-card>
  </section>

  <!-- News Widget 3 -->
  <section class="news-feed-3 news-feed-wrapper">
    <mat-card>
      <mat-card-title>News</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <section class="news-section">

      </section>
    </mat-card>
  </section>

  <!-- News Widget 4 -->
  <section class="news-feed-4 news-feed-wrapper">
    <mat-card>
      <mat-card-title>Newsfeed</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <section class="news-section">

      </section>
    </mat-card>
  </section>

  <!-- Maps Widget -->
  <section class="map-wrapper">
    <agm-map [latitude]="+12.9542946" [longitude]="+77.490852">
      <agm-marker [latitude]="+12.9542946" [longitude]="+77.490852"></agm-marker>
    </agm-map>
  </section>

  <!-- Maps Widget -->
  <section class="leaflet-wrapper">
    <agm-map [latitude]="+12.9542946" [longitude]="+77.490852">
      <agm-marker [latitude]="+12.9542946" [longitude]="+77.490852"></agm-marker>
    </agm-map>
  </section>

  <!-- Weather Widget -->
  <section class="weather-widget">
    <mat-card>
      <section class="wheather-widget text-center grad-blue">
        <section class="wheather-today">
          <h3 class="mb-3">Today</h3>
          <i class="wi wi-day-cloudy mat-text-accent"></i>
          <h3>13 &#8451;</h3>
          Surrey, Canada
        </section>
        <section class="wheather-future">
          <section fxLayout="row wrap">
            <section fxFlex.gt-sm="50%" fxFlex="100" class="m-gap p-gap wheather-child">
              <p>Yesterday</p>
              <i class="wi wi-day-rain-mix mb-2"></i>
              <h3>13 &#8451;</h3>
            </section>
            <section fxFlex.gt-sm="50%" fxFlex="100" class="m-gap p-gap wheather-child">
              <p>Tomorrow</p>
              <i class="wi wi-day-cloudy-high mb-2"></i>
              <h3>13 &#8451;</h3>
            </section>
          </section>
        </section>
      </section>
    </mat-card>
  </section>

  <!-- Contact Us -->
  <section class="contact-us-wrapper">
    <mat-card>
      <mat-card-title>Contact Us</mat-card-title>
      <mat-card-subtitle>Contact Information</mat-card-subtitle>
      <hr>
      <section class="contact-us-section">
        <strong>
          <h4>Eastern Clinical Laboratories</h4>
        </strong>
        Elite Business Center, <br>
        Floor 1, Office 105 Al Barsha, <br>
        Behind Mall of Emirates, <br>
        Dubai, UAE

        <strong><h4>Get In Touch</h4></strong>
        Eastern Clinical Laboratories is a Medical Diagnostic Services company based in Dubai.The company has been in operation for over 10 years and has been at the forefront of Diagnostic Healthcare in the region.

        <br>
        <br>
        <strong>Who to Contact</strong> <br>
        During Lab Timings: <br>

        9:00 am to 11:00 pm <br>
        Tel.: +971 4 3244512 <br>
      </section>
    </mat-card>
  </section>

  <!-- Patient Feedback Form -->
  <section class="patient-feedback-wrapper">
    <mat-card>
      <mat-card-title>Patient Feedback Form</mat-card-title>
      <mat-card-subtitle>Patient Feedback Form</mat-card-subtitle>
      <hr>
      <section class="news-section">
        <app-account-feedback-survey></app-account-feedback-survey>
      </section>
    </mat-card>
  </section>

  <!-- Accounts Feedback Form -->
  <section class="accounts-feedback-wrapper">
    <mat-card>
      <mat-card-title>Accounts Feedback Form</mat-card-title>
      <mat-card-subtitle>Accounts Feedback Form</mat-card-subtitle>
      <hr>
      <section class="news-section">
        <app-patient-feedback-survey></app-patient-feedback-survey>
      </section>
    </mat-card>
  </section>
</section>
