@import 'color';

.full-width {
  width: 100%;
}

.sub-title {
  color: rgba(0, 0, 0, 0.54);
}

.pointer {
  cursor: pointer;
}

.collapse {
  visibility: collapse;
}

.mt-5 {
  margin-top: 5px;
}

.mt-n7 {
  margin-top: -7px;
}

.mr-12 {
  margin-right: 12px;
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.hide {
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}
.mat-row:hover {
  background: whitesmoke;
  .hide {
    visibility: visible;
  }
}

.mat-dialogue-no-padding .mat-dialog-container {
  padding: 0;
}

.green {
  color: #008000;
}

.red {
  color: #e11f24;
}

.orange {
  color: #911e61;
}

.deep-orange {
  color: #d65d39;
}

.dark-blue {
  color: #034f79;
}

.purple {
  color: #79248a;
}

.tan-blue {
  color: #0755ad;
}

.white {
  color: white;
}

.grad-blue {
  background: #4065e0;
  color: #ffffff;
}

.grad-not-blue {
  background: #1bdae4;
  color: #ffffff;
}

.grad-green {
  background: #1ec9b4;
  color: #fff;
}

.grad-orange {
  background: #eeb21e;
  color: #fff;
}

.card {
  height: 220px;
  color: #fff;

  padding: 24px;
  margin-right: 12px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr auto;

  .title {
    font-size: 28px;
  }

  .sub-title {
    font-size: 18px;
    color: white;
  }

  .content {
    height: 70px;
  }

  .number {
    font-size: 50px;
    display: inline-block;
  }
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.mat-row:nth-child(odd) {
  background-color: whitesmoke;
}

.section-header {
  font-size: 20px;
  color: $primary-color;
}

.my-menu .mat-menu-content {
  background: #034f79;
  .mat-menu-item {
    color: #ffffff;
  }
}

.snackbar {
  background: #034f79;
  color: #ffffff;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}