<section id="equipment-container" class="animated fadeIn">
  <!-- Material Card -->
  <mat-card>
    <section class="mat-header-container">
      <!-- Mat Header Image -->
      <section class="mat-header-image-wrapper">
        <mat-icon class="mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">apps </mat-icon>
      </section>

      <!-- Mat Header Title -->
      <section>
        <!-- Mat Card Title -->
        <mat-card-title>
          <section class="mat-card-title-container">
            <section>
            Equipment
            </section>
          </section>
        </mat-card-title>

        <!-- Mat Card SubTitle -->
        <mat-card-subtitle> View/ Equipment </mat-card-subtitle>
      </section>

      <!-- Add Appointment Button -->
      <section class="equipment-button-wrapper">
        <button class="equipment-button" mat-stroked-button (click)="onAddEquipmentButtonClicked()">Add Equipment</button>
      </section>
    </section>

    <!-- Mat Table Ribbon -->
    <app-equipment-ribbon-menu
      (showListViewButtonClicked)="onShowListViewButtonClicked()"
      (showTableViewButtonClicked)="onShowTableViewButtonClicked()"
    >
    </app-equipment-ribbon-menu>

    <!-- Mat Divider -->
    <mat-divider></mat-divider>

    <!-- Test List -->
    <ng-container *ngIf="showListView; then listView; else tableView"></ng-container>

    <!-- List View -->
    <ng-template #listView>
      <app-equipment-list [equipment]="equipment"></app-equipment-list>
    </ng-template>

    <!-- Table View -->
    <ng-template #tableView>
      <app-equipment-list-data-table
        [equipment]="equipment"
        (editEquipmentClicked)="onEditEquipmentClicked()"
        (viewEquipmentClicked)="onViewEquipmentClicked($event)"
        [isBusy]="isFetchingEquipments"
      ></app-equipment-list-data-table>
    </ng-template>

    <!-- <mat-paginator [length]="method.length" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator> -->
  </mat-card>
</section>
