<section class="animated fadeIn">
  <mat-card>
    <!-- Mat Card Title -->
    <mat-card-title>
      <section class="mat-card-title-container">
        <section>
          Equipment Lists
        </section>
        <section>
          <button mat-button color="primary" (click)="onAddEquipmentButtonClicked()">+ Add Equipments</button>
        </section>
      </section>
    </mat-card-title>

    <!-- Mat Card SubTitle -->
    <mat-card-subtitle> Manage Equipment(s) </mat-card-subtitle>

    <!-- Mat Divider -->
    <mat-divider></mat-divider>

    <!-- Equipments Data Table -->
    <app-equipment-list-data-table
      (editEquipmentClicked)="onEditEquipmentClicked()"
      [isBusy]="isFetchingEquipment"
    ></app-equipment-list-data-table>
  </mat-card>
</section>
