<section id="reference-range-container">
  <mat-card class="reference-range-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Reference Range" subTitle="Edit the Reference Range" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="reference-range-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Lab Name -->
                <mat-form-field>
                  <mat-label>Test Code</mat-label>
                  <input matInput placeholder="Test Code" name="testCode" />
                </mat-form-field>

                <!-- Machine-->
                <mat-form-field>
                  <mat-label>Machine</mat-label>
                  <mat-select placeholder="Machine"></mat-select>
                </mat-form-field>

                <!-- Test Name -->
                <mat-form-field>
                  <mat-label>Test Name</mat-label>
                  <input matInput placeholder="Test Name" name="testName" />
                </mat-form-field>

                <!-- Units -->
                <mat-form-field>
                  <mat-label>Units</mat-label>
                  <input matInput placeholder="Units" name="units" />
                </mat-form-field>

                <!-- Type-->
                <mat-form-field>
                  <mat-label>Type</mat-label>
                  <input matInput placeholder="Type" name="type" />
                </mat-form-field>

                <!-- Alternate Result -->
                <mat-form-field>
                  <mat-label>Alternate Result</mat-label>
                  <input matInput placeholder="Alternate Result" name="result" />
                </mat-form-field>

                <!-- Age Lower -->
                <mat-form-field>
                  <mat-label>Age Lower</mat-label>
                  <input matInput placeholder="Age Lower" name="lowerAge" />
                </mat-form-field>

                <!-- Age Upper -->
                <mat-form-field>
                  <mat-label>Age Upper</mat-label>
                  <input matInput placeholder="Age Upper" name="upperAge" />
                </mat-form-field>

                <!-- Reference Range Females -->
                <!-- Minimum -->
                <mat-form-field>
                  <mat-label>Minimum Reference Range Female</mat-label>
                  <input matInput placeholder="Minimum" name="femaleMinimum" />
                </mat-form-field>

                <!-- maximum -->
                <mat-form-field>
                  <mat-label>Maximum Reference Range Female</mat-label>
                  <input matInput placeholder="Maximum" name="femaleMaximum" />
                </mat-form-field>

                <!-- Reference Range Males -->
                <!-- Minimum -->
                <mat-form-field>
                  <mat-label>Minimum Reference Range Male</mat-label>
                  <input matInput placeholder="Minimum" name="maleMinimum" />
                </mat-form-field>

                <!-- Maximum -->
                <mat-form-field>
                  <mat-label>Maximum Reference Range Male</mat-label>
                  <input matInput placeholder="Maximum" name="maleMaximum" />
                </mat-form-field>

                <!-- Critical Reference Range -->
                <!-- Minimum -->
                <mat-form-field>
                  <mat-label>Minimum Critical Reference Range</mat-label>
                  <input matInput placeholder="Minimum" name="criticalMinimum" />
                </mat-form-field>

                <!-- Maximum -->
                <mat-form-field>
                  <mat-label>Maximum Critical Reference Range</mat-label>
                  <input matInput placeholder="Maximum" name="CriticalMaximum" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial>Save Changes</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
