<section>
  <mat-card>
    <!-- Mat Card header -->
    <app-mat-dialog-header title="Edit Reference Range" subTitle="Edits the Reference Range"></app-mat-dialog-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- General Information -->
      <section fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="20px grid">
        <!-- Test Code -->
        <mat-form-field fxFlex="50">
          <mat-label>Test Code</mat-label>
          <input matInput placeholder="Test Code" name="testCode" />
        </mat-form-field>

        <!-- Machine-->
        <mat-form-field fxFlex="50">
          <mat-label>Machine</mat-label>
          <mat-select placeholder="Machine"></mat-select>
        </mat-form-field>

        <!-- Test Name -->
        <mat-form-field fxFlex="50">
          <mat-label>Test Name</mat-label>
          <input matInput placeholder="Test Name" name="testName" />
        </mat-form-field>

        <!-- Units -->
        <mat-form-field fxFlex="50">
          <mat-label>Units</mat-label>
          <input matInput placeholder="Units" name="units" />
        </mat-form-field>

        <!-- Type-->
        <mat-form-field fxFlex="50">
          <mat-label>Type</mat-label>
          <input matInput placeholder="Type" name="type" />
        </mat-form-field>

        <!-- Alternate Result -->
        <mat-form-field fxFlex="50">
          <mat-label>Alternate Result</mat-label>
          <input matInput placeholder="Alternate Result" name="result" />
        </mat-form-field>

        <!-- Age Lower -->
        <mat-form-field fxFlex="50">
          <mat-label>Age Lower</mat-label>
          <input matInput placeholder="Age Lower" name="lowerAge" />
        </mat-form-field>

        <!-- Age Upper -->
        <mat-form-field fxFlex="50">
          <mat-label>Age Upper</mat-label>
          <input matInput placeholder="Age Upper" name="upperAge" />
        </mat-form-field>

        <!-- Reference Range Females -->
        <section fxLayout="row wrap" fxLayoutAlign="start end" fxFlex="50" fxLayoutGap="20px grid">
          <section fxFlex="50" class="mat-card-subtitle">Reference Range Female</section>

          <!-- Minimum -->
          <mat-form-field fxFlex="25">
            <mat-label>Minimum</mat-label>
            <input matInput placeholder="Minimum" name="femaleMinimum" />
          </mat-form-field>

          <!-- maximum -->
          <mat-form-field fxFlex="25">
            <mat-label>Maximum</mat-label>
            <input matInput placeholder="Maximum" name="femaleMaximum" />
          </mat-form-field>
        </section>

        <!-- Reference Range Males -->
        <section fxLayout="row wrap" fxLayoutAlign="start end" fxFlex="50" fxLayoutGap="20px grid">
          <section fxFlex="50" class="mat-card-subtitle">Reference Range Female</section>

          <!-- Minimum -->
          <mat-form-field fxFlex="25">
            <mat-label>Minimum</mat-label>
            <input matInput placeholder="Minimum" name="maleMinimum" />
          </mat-form-field>

          <!-- Maximum -->
          <mat-form-field fxFlex="25">
            <mat-label>Maximum</mat-label>
            <input matInput placeholder="Maximum" name="maleMaximum" />
          </mat-form-field>
        </section>

        <!-- Critical Reference Range -->
        <section fxLayout="row wrap" fxLayoutAlign="start end" fxFlex="50" fxLayoutGap="20px grid">
          <section fxFlex="50" class="mat-card-subtitle">Critical Reference Range</section>

          <!-- Minimum -->
          <mat-form-field fxFlex="25">
            <mat-label>Minimum</mat-label>
            <input matInput placeholder="Minimum" name="criticalMinimum" />
          </mat-form-field>

          <!-- Maximum -->
          <mat-form-field fxFlex="25">
            <mat-label>Maximum</mat-label>
            <input matInput placeholder="Maximum" name="CriticalMaximum" />
          </mat-form-field>
        </section>
      </section>

      <!-- Dialog Actions -->
      <section mat-dialog-actions>
        <section class="mt-1 mb-1 full-width" fxLayout="row" fxFlexAlign="center center" fxLayoutAlign="center center">
          <button mat-button color="primary" matDialogClose>Cancel</button>
          <button mat-raised-button color="primary" cdkFocusInitial (click)="onEditReferenceRangeClicked()">
            Save Change(s)
          </button>
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</section>
