@import "../../../../../../assets/styles/scss/color";

@mixin forms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

@mixin margin-bottom-18 {
  margin-bottom: 18px;
}

#reference-range-container {
  .reference-range-mat-card {
    display: grid;
    grid-template-columns: 220px 1fr;

    .outsource-dialog {
      margin: auto;
    }

    .reference-range-form {
      .basic-wrapper {
        @include margin-bottom-18;

        .basic-content {
          @include forms-grid;

          .pt-13 {
            padding-top: 13px;
          }
        }
      }

      .payment-information-wrapper {
        @include margin-bottom-18;

        .payment-information-content {
          @include forms-grid;
        }
      }

      .login-information-wrapper {
        @include margin-bottom-18;

        .login-information-content {
          @include forms-grid;
        }
      }

      .comment-information-wrapper {
        @include margin-bottom-18;
      }
    }

    .action-buttons-wrapper {
      display: flex;
      margin: 12px;

      justify-content: center;
      align-items: center;

      button {
        margin-left: 24px;
      }
    }
  }
}
