<section class="animated fadeIn">
  <mat-card>
    <mat-card-title>Bulk Registration</mat-card-title>
    <mat-card-subtitle>Bulk Registration for Patient(s)</mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content>
      <section class="bulk-registration-container">
        <section>
          Upload patients via excel to bill for same set of services, all at one
        </section>
        <section>
          <button mat-button color="primary" class="ml-2 mr-2">Upload Excel</button>
          <button mat-button color="primary" class="ml-2 mr-2">Download Excel Template</button>
        </section>
      </section>
    </mat-card-content>
  </mat-card>
</section>
