<section class="link-test-container animated fadeIn">
  <mat-card>
    <!-- Mat Card header -->
    <app-mat-dialog-header
      title="Link Profile Test(s)"
      subTitle="Search for Combine Test(s) and link them to Profile Test"
    ></app-mat-dialog-header>
    <mat-divider></mat-divider>
    <mat-dialog-content style="margin: auto;">
      <section>
        <!-- Search TextBox -->
        <section style="align-content: flex-end;">
          <mat-form-field >
            <input matInput type="text"  [(ngModel)]="searchQuery" />
            <button mat-button matSuffix mat-icon-button (click)="onSearchButtonClicked()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </section>

        <!-- Mat Data Table -->
        <table mat-table [dataSource]="tests" class="full-width">
          <!-- Dos Code -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>DOS Code</th>
            <td mat-cell *matCellDef="let element">{{ element.eclDosCode }}</td>
          </ng-container>
  
          <!-- Test Id -->
          <ng-container matColumnDef="testId">
            <th mat-header-cell *matHeaderCellDef>Test Id</th>
            <td mat-cell *matCellDef="let element">{{ element.testId }}</td>
          </ng-container>
  
          <!-- CPT Code -->
          <ng-container matColumnDef="cptCode">
            <th mat-header-cell *matHeaderCellDef>CPT Code</th>
            <td mat-cell *matCellDef="let element">{{ element.cptCode }}</td>
          </ng-container>
  
          <!-- Test Name -->
          <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef>Test Name</th>
            <td mat-cell *matCellDef="let element">{{ element.testName }}</td>
          </ng-container>
  
          <!-- Specimen Type -->
          <ng-container matColumnDef="specimenType">
            <th mat-header-cell *matHeaderCellDef>Specimen Type</th>
            <td mat-cell *matCellDef="let element">{{ element.specimenType }}</td>
          </ng-container>
  
          <!-- Storage -->
          <ng-container matColumnDef="storage">
            <th mat-header-cell *matHeaderCellDef>Storage</th>
            <td mat-cell *matCellDef="let element">{{ element.storage.StorageName }}</td>
          </ng-container>
  
          <!-- department -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef>Department</th>
            <td mat-cell *matCellDef="let element">{{ element.department.departmentName }}</td>
          </ng-container>
  
          <!-- Location -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let element">{{ element.location }}</td>
          </ng-container>
  
          <!-- Currency -->
          <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
          </ng-container>
  
          <!-- status -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>
  
          <!--Action-->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
              <section class="actions-wrapper">
                <app-column-chooser
                  [columns]="filteredColumns"
                  (closed)="onColumnChooserClosed($event)"
                ></app-column-chooser>
              </section>
            </th>
            <td mat-cell *matCellDef="let element">
              <section class="actions-wrapper">
                <button class="edit-button" mat-button color="primary" disableRipple (click)="onAddCombinedTestClicked()">
                  <mat-icon>add</mat-icon>
                </button>
                <button class="delete-button" mat-button color="warn" disableRipple>
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </section>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- No Record(s) Message -->
        <section fxLayout fxLayoutAlign="center center" class="mat-card-subtitle mt-3 mb-3" *ngIf="!tests">
          No Tests Found
        </section>
      </section>
    </mat-dialog-content>
    <section mat-dialog-actions>
      <section class="full-width" fxLayout="row" fxFlexAlign="center center" fxLayoutAlign="center center">
        <button mat-button color="primary" matDialogClose>Cancel</button>
        <button mat-raised-button color="primary" cdkFocusInitial>Link Selected Test(s)</button>
      </section>
    </section>
  </mat-card>
</section>
