<section class="link-test-to-combine-information-wrapper">
  <!-- Mat Card header -->
  <app-section-header title="link Combined Test Information"></app-section-header>
  <section class="link-test-to-combine-information-content">
    <!-- Group By-->
    <mat-form-field style="padding-left: 10px;">
        <mat-label>Group By</mat-label>
        <mat-select disableOptionCentering name="groupById">
          <mat-option *ngFor="let options of groupBys" [value]="options.lookupId">{{ options.keyValue }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Order By-->
      <mat-form-field style="padding-left: 10px;">
        <mat-label>Order By</mat-label>
        <mat-select disableOptionCentering name="orderById">
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="6">6</mat-option>
          <mat-option [value]="7">7</mat-option>
          <mat-option [value]="8">8</mat-option>
          <mat-option [value]="9">9</mat-option>
          <mat-option [value]="10">10</mat-option>
          <mat-option [value]="11">11</mat-option>
          <mat-option [value]="12">12</mat-option>
          <mat-option [value]="13">13</mat-option>
          <mat-option [value]="14">14</mat-option>
          <mat-option [value]="15">15</mat-option>
          <mat-option [value]="16">16</mat-option>
          <mat-option [value]="17">17</mat-option>
          <mat-option [value]="18">18</mat-option>
          <mat-option [value]="19">19</mat-option>
          <mat-option [value]="20">20</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Search TextBox -->
      <mat-form-field  style="float: right;">
        <input matInput type="text" (keyup)="searchQuery($event)" placeholder="Search for Tests" [matAutocomplete]="search" />
        <mat-autocomplete #search="matAutocomplete">
          <mat-option *ngFor="let element of selectedTests" (click)="selectedAutoComplete(element)">
            {{ element.testName }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Mat Data Table -->
      <table mat-table [dataSource]="testsInTable" class="full-width">

        <!-- Test Id -->
        <ng-container matColumnDef="combineTestId">
            <th mat-header-cell *matHeaderCellDef>Combine Test Id</th>
            <td mat-cell *matCellDef="let element">{{ element.combineTestId }}</td>
        </ng-container>

        <!-- Dos Code -->
        <ng-container matColumnDef="eclDosCode">
          <th mat-header-cell *matHeaderCellDef>DOS Code</th>
          <td mat-cell *matCellDef="let element">{{ element.eclDosCode }}</td>
        </ng-container>
  
        <!-- Test Id -->
        <ng-container matColumnDef="testId">
          <th mat-header-cell *matHeaderCellDef>Test Id</th>
          <td mat-cell *matCellDef="let element">{{ element.testId }}</td>
        </ng-container>
    
        <!-- CPT Code -->
        <ng-container matColumnDef="cptCode">
          <th mat-header-cell *matHeaderCellDef>CPT Code</th>
          <td mat-cell *matCellDef="let element">{{ element.cptCode }}</td>
        </ng-container>
    
        <!-- Test Name -->
        <ng-container matColumnDef="testName">
          <th mat-header-cell *matHeaderCellDef>Test Name</th>
          <td mat-cell *matCellDef="let element">{{ element.testName }}</td>
        </ng-container>
    
        <!-- Specimen Type -->
        <ng-container matColumnDef="specimenType">
          <th mat-header-cell *matHeaderCellDef>Specimen Type</th>
          <td mat-cell *matCellDef="let element">{{ element.specimenType }}</td>
        </ng-container>
    
        <!-- Storage -->
        <ng-container matColumnDef="storage">
          <th mat-header-cell *matHeaderCellDef>Storage</th>
          <td mat-cell *matCellDef="let element">{{ element.storage.storageName }}</td>
        </ng-container>
    
        <!-- department -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">{{ element.department.departmentName }}</td>
        </ng-container>
    
        <!-- Location -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let element">{{ element.location }}</td>
        </ng-container>
    
        <!-- Currency -->
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef>Currency</th>
          <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
        </ng-container>

        <!--Action-->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <section class="actions-wrapper">
              <app-column-chooser
                [columns]="filteredColumns"
                (closed)="onColumnChooserClosed($event)"
              ></app-column-chooser>
            </section>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <section class="actions-wrapper">
              <button class="delete-button" mat-button color="warn" disableRipple (click)="onClearButtonClicked(i)">
                <mat-icon>clear</mat-icon>
              </button>
            </section>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <section *ngIf="isBusy">
        <app-progress-indicator label="Fetching Test(s)"></app-progress-indicator>
      </section>

      <!-- No Record(s) Message -->
      <section fxLayout fxLayoutAlign="center center" class="mat-card-subtitle mt-3 mb-3" *ngIf="testsInTable.length == 0 && !isBusy">
        No Tests Found
      </section>
  </section>
</section>
