<section id="combined-test-container">
  <mat-card class="combined-test-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Combined Test Master" subTitle="Edit a Combined Test" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!--combined Test Form -->
          <form class="combined-test-form">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Combined Test Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- ECl Code-->
                <mat-form-field>
                  <mat-label>ECl DOS Code</mat-label>
                  <input matInput placeholder="ECl DOS Code" [(ngModel)]="test.eclDosCode" name="eclDosCode" />
                </mat-form-field>

                <!-- Test Id-->
                <mat-form-field>
                  <mat-label>Test Id</mat-label>
                  <input matInput placeholder="Test Id" [(ngModel)]="test.testId" name="testId" />
                </mat-form-field>

                <!-- CPT Code-->
                <mat-form-field>
                  <mat-label>CPT Code</mat-label>
                  <input matInput placeholder="CPT Code" [(ngModel)]="test.cptCode" name="cptCode" />
                </mat-form-field>

                <!-- Test Name-->
                <mat-form-field>
                  <mat-label>Test Name</mat-label>
                  <input matInput placeholder="Test Name" [(ngModel)]="test.testName" name="testName" />
                </mat-form-field>

                <!-- Specimmen-->
                <mat-form-field>
                  <mat-label>Specimen</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.specimen" name="specimen">
                    <mat-option *ngFor="let item of specimen" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Specimen -->
                <mat-form-field>
                  <mat-label>Specimen Type</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.specimenType" name="specimenType">
                    <mat-option *ngFor="let item of specimenType" [value]="item.lookupId"
                      >{{ item.keyValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <!-- Storage-->
                <mat-form-field>
                  <mat-label>Storage</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.storage.StorageId" name="storageId">
                    <mat-option *ngFor="let item of storage" [value]="item.lookupId">{{ item.keyValue }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Department-->
                <mat-form-field>
                  <mat-label>Department</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.department.departmentId" name="departmentId">
                    <mat-option *ngFor="let item of departments" [value]="item.departmentId">{{ item.departmentName }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!--Patient Fee-->
                <mat-form-field>
                  <mat-label>Patient Fee</mat-label>
                  <input matInput placeholder="Patient Fee" [(ngModel)]="test.patientFee" name="patientFee" />
                </mat-form-field>

                <!-- Net Fee-->
                <mat-form-field>
                  <mat-label>Net Fee</mat-label>
                  <input matInput placeholder="Net Fee" [(ngModel)]="test.netFee" name="netFee" />
                </mat-form-field>

                <!-- Report Format -->
                <mat-form-field>
                  <mat-label>Report Format</mat-label>
                  <mat-select disableOptionCentering [(ngModel)]="test.reportFormat" name="reportFormat">
                    <mat-option [value]="1">Radiology</mat-option>
                    <mat-option [value]="2">Pathology</mat-option>
                  </mat-select>
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onEditTestClicked()">Save Changes</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
