<section id="individual-test-container">
  <mat-card class="individual-test-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Individual Test Master" subTitle="Add a Individual Test" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!--Individual Test Form -->
          <form class="individual-test-form" #test="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Individual Test Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Test Category -->
                <mat-form-field>
                  <mat-label>Test Category</mat-label>
                  <mat-select disableOptionCentering name="testCategoryId" ngModel #testCategory="ngModel">
                    <mat-option value="0">
                      In House
                    </mat-option>
                    <mat-option value="1">
                      Outsource
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" ngModel #active="ngModel">Active</mat-slide-toggle>
                </section>

                <!-- Accreditation  Symbol-->
                <mat-form-field>
                  <mat-label>Accreditation Symbol</mat-label>
                  <mat-select disableOptionCentering name="accrediationSymbolId" ngModel #accrediationSymbolId="ngModel">
                    <mat-option *ngFor="let options of accrediationSymbols" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Accreditation -->
                <mat-form-field>
                  <mat-label>Accreditation</mat-label>
                  <mat-select disableOptionCentering name="accrediation" ngModel #accrediationId="ngModel">
                    <mat-option [value]= false >
                      No
                    </mat-option>
                    <mat-option [value]=true>
                      Logos
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Test Component -->
                <mat-form-field>
                  <mat-label>Test Component</mat-label>
                  <input
                    matInput
                    placeholder="Test Component"
                    name="individualTestName"
                    required
                    ngModel
                    #individualTestName="ngModel"
                  />
                </mat-form-field>

                <!-- Equipment -->
                <mat-form-field class="mt-n7">
                  <mat-label>Equipment</mat-label>
                  <mat-select disableOptionCentering name="equipmentId" ngModel #equipmentId="ngModel">
                    <mat-option *ngFor="let options of equipments" [value]="options.equipmentId">{{
                      options.equipmentName
                    }}</mat-option> </mat-select>
                </mat-form-field>

                <!-- Processing center -->
                <mat-form-field class="mt-n7">
                  <mat-label>Processing center</mat-label>
                  <mat-select disableOptionCentering name="processingCentreId" ngModel #processingCentreId="ngModel">
                    <mat-option *ngFor="let options of processingCenter" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Outsource Vendor Code-->
                <mat-form-field>
                  <mat-label>Vendor Code</mat-label>
                  <input
                    matInput
                    placeholder="Outsouce Vendor Code"
                    name="outsourceVendorCode"
                    ngModel
                    #outSourceVendorCode="ngModel"
                  />
                </mat-form-field>

                <!-- Method -->
                <mat-form-field>
                  <mat-label>Method</mat-label>
                  <mat-select disableOptionCentering name="methodId" ngModel #methodId="ngModel">
                    <mat-option *ngFor="let options of methods" [value]="options.methodId">{{
                      options.methodName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Unit-->
                <mat-form-field>
                  <mat-label>Unit</mat-label>
                  <mat-select disableOptionCentering name="unitId" ngModel #unitId="ngModel">
                    <mat-option *ngFor="let options of units" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- Integration Code -->
                <mat-form-field>
                  <mat-label>Integration Code</mat-label>
                  <input
                    matInput
                    placeholder="Integration Code"
                    name="integrationCode"
                    ngModel
                    #integrationCode="ngModel"
                  />
                </mat-form-field>

                <!-- CPT Amount -->
                <mat-form-field>
                  <mat-label>CPT Amount</mat-label>
                  <input matInput placeholder="CPT Amount" name="cptAmount" ngModel #cptAmount="ngModel" />
                </mat-form-field>

                <!-- TAT -->
                <section class="tat">
                  <mat-label class="tatcolor">TAT</mat-label>
                  <mat-form-field style="width: 100px;">
                    <input matInput placeholder="Days" name="tatDays" required ngModel #tatDays="ngModel" />
                  </mat-form-field>
                  <mat-form-field style="width: 100px;">
                    <input matInput placeholder="Hours" name="tatHours" required ngModel #tatHours="ngModel" />
                  </mat-form-field>
                  <mat-form-field style="width: 100px;">
                    <input matInput placeholder="Minutes" name="tatMinutes" required ngModel #tatMinutes="ngModel" />
                  </mat-form-field>
                </section>

                <!-- References Range -->
                <mat-form-field>
                  <mat-label> References Range</mat-label>
                  <input matInput placeholder=" References Range" name=" referencesRange" ngModel #referencesRange="ngModel" />
                </mat-form-field>
              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddIndividualTestButtonClicked(test)">
              Add Individual Test
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
