<section id="individual-test-container">
  <mat-card class="individual-test-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Individual Test Master" subTitle="Add a Individual Test" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!--Individual Test Form -->
          <form class="individual-test-form" #test="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Individual Test Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Test Category -->
                <mat-form-field>
                  <mat-label>Test Category</mat-label>
                  <mat-select disableOptionCentering name="testCategoryId" ngModel #testCategory="ngModel">
                    <mat-option value="0">
                      In House
                    </mat-option>
                    <mat-option value="1">
                      Outsource
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Active-->
                <section class="pt-19">
                  <mat-slide-toggle color="primary" name="active" ngModel #active="ngModel">Active</mat-slide-toggle>
                </section>

                <!-- Accreditation  Symbol-->
                <mat-form-field>
                  <mat-label>Accreditation Symbol</mat-label>
                  <mat-select
                    disableOptionCentering
                    name="accrediationSymbolId"
                    ngModel
                    #accrediationSymbolId="ngModel"
                  >
                    <input
                      matInput
                      placeholder="Search Accreditation Symbol"
                      (keyup)="onKeySearch($event.target.value)"
                    />
                    <mat-option *ngFor="let options of accrediationSymbols" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Accreditation -->
                <mat-form-field>
                  <mat-label>Accreditation</mat-label>
                  <mat-select disableOptionCentering name="accrediation" ngModel #accrediationId="ngModel">
                    <mat-option [value]="true">
                      yes
                    </mat-option>
                    <mat-option [value]="false">
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Test Component -->
                <mat-form-field>
                  <mat-label>Test Component</mat-label>
                  <input
                    matInput
                    placeholder="Test Component"
                    name="individualTestName"
                    required
                    ngModel
                    #individualTestName="ngModel"
                  />
                </mat-form-field>

                <!-- Equipment -->
                <mat-form-field class="mt-n7">
                  <mat-label>Equipment</mat-label>
                  <mat-select disableOptionCentering name="equipmentId" ngModel #equipmentId="ngModel">
                    <input matInput placeholder ="Search Equipment" (keyup)="onEquipmentSearch($event.target.value)">
                    <mat-option *ngFor="let options of equipments" [value]="options.equipmentId">{{
                      options.equipmentName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Processing center -->
                <mat-form-field class="mt-n7">
                  <mat-label>Processing center</mat-label>
                  <mat-select disableOptionCentering name="centerId" [(ngModel)]="centerId">
                    <input matInput placeholder ="Search processingCentres" (keyup)="onProcessingCentreSearch($event.target.value)">
                    <mat-option *ngFor="let options of selectedprocessingCenters" [value]="options.outsourceId">{{
                      options.labName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Outsource Vendor Code-->
                <mat-form-field>
                  <mat-label>Vendor Code</mat-label>
                  <input
                    matInput
                    placeholder="Vendor Code"
                    name="outsourceVendorCode"
                    ngModel
                    #outSourceVendorCode="ngModel"
                  />
                </mat-form-field>

                <!-- Method -->
                <mat-form-field>
                  <mat-label>Method</mat-label>
                  <mat-select disableOptionCentering name="methodId" ngModel #methodId="ngModel">
                    <mat-option *ngFor="let options of methods" [value]="options.methodId">{{
                      options.methodName
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Unit-->
                <mat-form-field>
                  <mat-label>Unit</mat-label>
                  <mat-select disableOptionCentering name="unitId" ngModel #unitName="ngModel">
                    <mat-option *ngFor="let options of units" [value]="options.lookupId">{{
                      options.keyValue
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Integration Code -->
                <mat-form-field>
                  <mat-label>Integration Code</mat-label>
                  <input
                    matInput
                    placeholder="Integration Code"
                    name="integrationCode"
                    ngModel
                    #integrationCode="ngModel"
                  />
                </mat-form-field>

                <!-- CPT Amount -->
                <mat-form-field>
                  <mat-label>CPT Amount</mat-label>
                  <input matInput placeholder="CPT Amount" name="cptAmount" ngModel #cptAmount="ngModel" />
                </mat-form-field>

                <!-- TAT -->
                <section class="tat">
                  <mat-label class="tatcolor">TAT</mat-label>
                  <mat-form-field style="width: 100px;">
                    <mat-select disableOptionCentering placeholder="Days" name="tatDays" ngModel #tatDays="ngModel">
                      <mat-option *ngFor="let option of days" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field style="width: 100px;">
                    <mat-select disableOptionCentering placeholder="Hours" name="tatHours" ngModel #tatHours="ngModel">
                      <mat-option *ngFor="let option of hours" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field style="width: 100px;">
                    <mat-select
                      disableOptionCentering
                      name="tatMinutes"
                      placeholder="Minutes"
                      ngModel
                      #tatMinutes="ngModel"
                    >
                      <mat-option *ngFor="let option of minutes" [value]="option">{{ option }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </section>
              </section>
            </section>

            <!-- Reference Range-->
            <section class="reference-range-wrapper">
              <!-- Header -->
              <app-section-header title="Reference Range"></app-section-header>
              <ng-container *ngFor="let referenceRange of referenceRangeList; let i = index">
                <!-- Content -->
                <section>
                  <section class="reference-range-content">
                    <!-- Age Range -->
                    <mat-form-field class="mt-n7">
                      <mat-label>Age Range</mat-label>
                      <mat-select
                        name="ageRange{{ i }}"
                        disableOptionCentering
                        placeholder="Age Range"
                        [(ngModel)]="referenceRange.ageRange"
                      >
                        <mat-option [value]=1>Age Range (in Years)</mat-option>
                        <mat-option [value]=1>Age Range (in Days)</mat-option>
                        <mat-option [value]=1>Age Range (in Months)</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- AGE -->
                    <section class="age">
                      <mat-form-field style="width: 100px;">
                        <input
                          matInput
                          placeholder="lower age"
                          name="lowerAge{{ i }}"
                          [(ngModel)]="referenceRange.lowerAge"
                        />
                      </mat-form-field>
                      <mat-form-field style="width: 100px;">
                        <input
                          matInput
                          placeholder="upper age"
                          name="upperAge{{ i }}"
                          [(ngModel)]="referenceRange.upperAge"
                        />
                      </mat-form-field>
                      <mat-form-field style="width: 100px;">
                        <input matInput placeholder="Min" name="min{{ i }}" [(ngModel)]="referenceRange.min" />
                      </mat-form-field>
                      <mat-form-field style="width: 100px;">
                        <input matInput placeholder="Max" name="max{{ i }}" [(ngModel)]="referenceRange.max" />
                      </mat-form-field>
                    </section>
                  </section>

                  <!--Result-->
                  <section class="values">
                    <!-- Add Values -->
                    <ng-template matStepLabel>Add Values</ng-template>
                    <section>
                      <!--Enter Values -->
                      <mat-form-field>
                        <mat-label>Enter Values</mat-label>
                        <input matInput placeholder="Enter Values" name="value" [(ngModel)]="value" />
                      </mat-form-field>

                      <section class="pl-100">
                        <!-- Enter Values -->
                        <button mat-raised-button class="mr-16" color="primary" (click)="onAddValuesClicked()">
                          Add
                        </button>
                        <button mat-raised-button class="mr-0" color="warn" (click)="onDeleteValuesClicked()">
                          Delete
                        </button>
                      </section>
                      <!-- Added Values  -->
                      <mat-form-field>
                        <mat-label>Values</mat-label>
                        <mat-select
                          disableOptionCentering
                          name="deleteValue"
                          placeholder="Values"
                          [(ngModel)]="deleteValue"
                        >
                          <mat-option *ngFor="let option of values" [value]="option">{{ option }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </section>
                    <mat-form-field>
                      <mat-label>Alternate Result</mat-label>
                      <mat-select
                        disableOptionCentering
                        name="alternateResult{{ i }}"
                        [(ngModel)]="referenceRange.alternateResult"
                      >
                        <mat-option value="0">
                          Normal
                        </mat-option>
                        <mat-option value="1">
                          Intermediate
                        </mat-option>
                        <mat-option value="2">
                          High
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </section>
                  <section class="comment-wrapper">
                    <!-- Male Range -->
                    <mat-label>Description </mat-label>
                    <ckeditor
                      name="description{{ i }}"
                      [config]="editorConfig"
                      debounce="500"
                      [(ngModel)]="referenceRange.description"
                    ></ckeditor>
                  </section>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Critical Range
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                      <input
                        matInput
                        placeholder="Min"
                        name="criticalRangeMin {{ i }}"
                        [(ngModel)]="referenceRange.criticalRangeMin"
                        #criticalRangeMin="ngModel"
                      />
                    </mat-form-field>

                    <mat-form-field>
                      <input
                        matInput
                        name="criticalRangeMax {{ i }}"
                        placeholder="Max"
                        [(ngModel)]="referenceRange.criticalRangeMax"
                        #criticalRangeMax="ngModel"
                      />
                    </mat-form-field>
                  </mat-expansion-panel>
                </section>
                <section class="cancel-contact-section">
                  <button mat-raised-button color="primary" (click)="cancelReferenceRange(referenceRange)">
                    <mat-icon aria-hidden="false" aria-label="Delete Contact">delete_forever</mat-icon> Remove
                  </button>
                </section>
              </ng-container>

              <section class="add-contact-section">
                <button mat-raised-button color="primary" (click)="addReferenceRange()">
                  <mat-icon aria-hidden="false" aria-label="Add Reference Range">group_add</mat-icon> Add Reference
                  Range
                </button>
              </section>
            </section>
          </form>
          <section class="action-buttons-wrapper">
            <button mat-button color="primary">Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddIndividualTestButtonClicked(test)">
              Add Individual Test
            </button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
