@import "../../../../../../../assets/styles/scss/color";

@mixin forms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
}

@mixin margin-bottom-18 {
  margin-bottom: 18px;
}

.tat
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  margin-top: 14px;
}
.age
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}
.tatcolor{
  margin-top:20px;
  color:gray;
}

.comment-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.values
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  margin-top: 14px;
}


#individual-test-container {
  .individual-test-mat-card {
    display: grid;
    grid-template-columns: 220px 1fr;

    .outsource-dialog {
      margin: auto;
    }

    .individual-test-form {
      .basic-wrapper {
        @include margin-bottom-18;

        .basic-content {
          @include forms-grid;

          .pt-19 {
            padding-top: 19px;
          }
          .sub-color {
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }

      .reference-range-wrapper {
        @include margin-bottom-18;

        .reference-range-content {
          @include forms-grid;
        }
      }

      .payment-information-wrapper {
        @include margin-bottom-18;

        .payment-information-content {
          @include forms-grid;
        }
      }

      .login-information-wrapper {
        @include margin-bottom-18;

        .login-information-content {
          @include forms-grid;
        }
      }

      .comment-information-wrapper {
        @include margin-bottom-18;
      }
    }

    .action-buttons-wrapper {
      display: flex;
      margin: 12px;

      justify-content: center;
      align-items: center;

      button {
        margin-left: 24px;
      }
    }

    .label {
      margin-top: 16px
    }
  }
}
.mr-16 {
  margin-right: 16px;
}

.mr-0 {
  margin-right: 0px;
}

.add-contact-section {
  margin-top: 10px;
}
.cancel-contact-section {
  border-bottom: 1px solid #ddd !important;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px;
}
.check{
margin-left: auto;
}

.allignment{
margin-left:15px;
}