<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <!-- Member Number -->
    <mat-form-field fxFlex="46">
      <mat-label>Member No</mat-label>
      <input matInput maxlength="10" placeholder="Member No" />
    </mat-form-field>

    <!-- Employee Number -->
    <mat-form-field fxFlex="46">
      <mat-label>Employee No</mat-label>
      <input matInput maxlength="10" placeholder="Employee No" />
    </mat-form-field>

    <!-- Validity -->
    <mat-form-field fxFlex="46">
      <mat-label>Validity</mat-label>
      <input matInput maxlength="10" placeholder="Validity" />
    </mat-form-field>

    <!-- Network -->
    <mat-form-field fxFlex="46">
      <mat-label>Network</mat-label>
      <input matInput maxlength="10" placeholder="Network" />
    </mat-form-field>

    <!-- Sub Network -->
    <mat-form-field fxFlex="46">
      <mat-label>Sub Network</mat-label>
      <input matInput maxlength="10" placeholder="Sub Network" />
    </mat-form-field>
  </form>
</section>

<section>
  <section fxLayout="row" fxFlex="100" fxFlexAlign="center center" class="mt-2 mb-2" fxLayoutAlign="center center">
    <button mat-button color="primary" class="ml-2 mr-2" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" class="ml-2 mr-2" matStepperNext>Next</button>
  </section>
</section>
