<section>
  <form autocomplete="off" fxLayout="row wrap" fxLayoutGap="35px">
    <!-- Whatsapp Number -->
    <mat-form-field fxFlex="46">
      <mat-label>Whatsapp Number </mat-label>
      <input matInput placeholder="Whatsapp Number " name="whatsappNumber " ngModel #whatsappNumber="ngModel" />
    </mat-form-field>

    <!-- Facebook Id -->
    <mat-form-field fxFlex="46">
      <mat-label>Facebook Id </mat-label>
      <input matInput placeholder="Facebook Id" name="facebook" ngModel #facebook="ngModel" />
    </mat-form-field>

    <!-- Instagram Id-->
    <mat-form-field fxFlex="46">
      <mat-label>Instagram Id </mat-label>
      <input matInput placeholder="Instagram Id" name="instagram" ngModel #instagram="ngModel" />
    </mat-form-field>

    <!-- Twitter Id-->
    <mat-form-field fxFlex="46">
      <mat-label>Twitter Id </mat-label>
      <input matInput placeholder="Twitter Id" name="twitter" ngModel #twitter="ngModel" />
    </mat-form-field>
  </form>
</section>

