<section id="report-format-list-container">
  <section *ngFor="let element of reportFormat">
    <section class="title-wrapper">
      <section class="title">#{{ element.id }}</section>
      <mat-icon class="pointer mr-12 white" [matMenuTriggerFor]="statusMenu">arrow_drop_down</mat-icon>
      <mat-menu #statusMenu="matMenu">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </section>
    <section class="action-buttons-container">
      <button mat-button>
        <i class="fa fa-lg fa-eye dark-blue" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-pencil deep-orange" aria-hidden="true"></i>
      </button>

      <button mat-button>
        <i class="fa fa-lg fa-trash red" aria-hidden="true"></i>
      </button>
    </section>
    <section class="report-format-container">
      <!-- clinic ID -->
      <section class="sub-title">ID</section>
      <section>{{ element.id }}</section>

      <!-- Paper Size -->
      <section class="sub-title">Paper Size</section>
      <section>{{ element.paperSize }}</section>

      <!-- Font Type -->
      <section class="sub-title">Font Type</section>
      <section>{{ element.fontType }}</section>

      <!-- Font Style -->
      <section class="sub-title">Font Style</section>
      <section>{{ element.fontStyle }}</section>

      <!-- Date Format -->
      <section class="sub-title">Date Format</section>
      <section>{{ element.dateFormat }}</section>

      <!--Header Size-->
      <section class="sub-title">Header Size</section>
      <section>{{ element.headerSize }}</section>

      <!-- Footer Size -->
      <section class="sub-title">Footer Size</section>
      <section>{{ element.footerSize }}</section>
    </section>
  </section>
</section>
