<section id="department-container">
  <mat-card class="department-mat-card">
    <!--  Dialog Caption -->
    <section>
      <app-dialog-caption title="Departments" subTitle="Add Department" icon="fa-calendar">
      </app-dialog-caption>
    </section>

    <!-- Dialog Content -->
    <section>
      <!-- Mat Card Header -->
      <app-mat-dialog-header></app-mat-dialog-header>

      <!-- Mat Card Content -->
      <mat-dialog-content class="outsource-dialog">
        <section>
          <!-- Outsource Management Form -->
          <form class="department-form" #department="ngForm">
            <!-- Basic Information -->
            <section class="basic-wrapper">
              <!-- Header -->
              <app-section-header title="Basic Information"></app-section-header>

              <!-- Content -->
              <section class="basic-content">
                <!-- Department Name -->
                <mat-form-field>
                  <mat-label>Department Name</mat-label>
                  <input matInput placeholder="Department Name" name=departmentName ngModel #departmentName="ngModel" />
                </mat-form-field>

                <!-- Department Type -->
                <mat-form-field class="mt-n7">
                  <mat-label>Department Type</mat-label>
                  <mat-select disableOptionCentering name=departmentType ngModel #departmentType="ngModel">
                    <mat-option *ngFor="let options of departmentTypes"[value]="options.lookupId">{{options.keyValue}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </section>
            </section>
          </form>

          <section class="action-buttons-wrapper">
            <button mat-button color="primary" matDialogClose>Clear</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="onAddDepartmentClicked(department)">Add Department</button>
          </section>
        </section>
      </mat-dialog-content>
    </section>
  </mat-card>
</section>
