<section id="organisation-filter-container" class="full-width">
    <mat-card>
      <section>
        <!-- Mat Card Title -->
        <app-mat-dialog-header title="Search" subTitle="Search for Organisation(s) Price List"></app-mat-dialog-header>
        <mat-divider></mat-divider>
      </section>
  
      <!--Mat Card Filter Content-->
      <section class="filter-field">
        <!--  Clinic Id -->
        <mat-form-field>
          <mat-label>Clinic ID</mat-label>
          <input matInput placeholder="Clinic Name" />
        </mat-form-field>
  
        <!-- Organization Name -->
        <mat-form-field>
          <mat-label>Organization Name</mat-label>
          <input matInput placeholder="Type" />
        </mat-form-field>
  
        <!-- Test Id -->
        <mat-form-field>
          <mat-label>Test ID</mat-label>
          <input matInput placeholder="Address" />
        </mat-form-field>
  
        <!-- Dos Code -->
        <mat-form-field>
          <mat-label>Dos Code</mat-label>
          <input matInput />
        </mat-form-field>
  
        <!-- Mrp -->
        <mat-form-field>
          <mat-label>MRP</mat-label>
          <input matInput maxlength="25" placeholder="Area"  />
        </mat-form-field>
  
        <!--Net -->
        <mat-form-field>
          <mat-label>Net</mat-label>
          <input matInput placeholder="Region" />
        </mat-form-field>
  
        <!-- Cpt-->
        <mat-form-field>
          <mat-label>Cpt</mat-label>
          <input matInput placeholder="Country" />
        </mat-form-field>
  
      </section>
  
      <!-- Apply Filter Button -->
      <section class="buttons-wrapper">
        <button mat-stroked-button color="primary" class="mr-24">Clear</button>
        <button mat-stroked-button color="primary">Search</button>
      </section>
    </mat-card>
  </section>
  